<div class="page-header">
    <div class="col">
        <label>Follow Up</label>
        <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
    </div>
</div>

<div *ngIf="errorMessage">
    <div class="alert alert-primary">
        {{errorMessage}}
    </div>
</div>
<div class="page-body">
    <div class="row">
        <div class="col-md-4 testbox  px-0 mx-0">
            <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Ref#</label>
                <div class="col-8">
                    <InputBox [(inputModel)]="REF_NO" [disabled]="true" maxlength="25" #refno></InputBox>
                </div>
            </div>
        </div>
        <div class="col-md-4 testbox  px-0 mx-0">
            <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Date</label>
                <div class="col-8">
                    <app-date [inputdate]="REF_DATE" (ValueChanged)="REF_DATE=$event" #refdate></app-date>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row pt-2">
                <!-- First row -->
                <div class="col-md-12 px-0 mx-0">
                    <div class="row">
                        <div class="col-md-6 testbox  px-0 mx-0">
                            <div class="form-group row">
                                <label class="col-1 col-form-label col-form-label-sm">Follow up Date</label>
                                <div class="col-9">
                                    <app-date disabled [inputdate]="record.cf_followup_date"
                                        (ValueChanged)="record.cf_followup_date=$event">
                                    </app-date>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-1 col-form-label col-form-label-sm">Notes</label>
                                <div class="col-9">
                                    <select class="form-control form-control-sm" [(ngModel)]="cmbNotes"
                                        (change)="OnChange('cmbNotes')">
                                        <option *ngFor="let rec of FollowupList" [value]="rec.name">{{rec.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-1 col-form-label col-form-label-sm"></label>
                                <div class="col-9">
                                    <textarea rows="5" class="form-control form-control-sm"
                                        [(ngModel)]="record.cf_remarks" (blur)="onBlur('cf_remarks','')"
                                        required maxlength="500"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="offset-1 col-9 col-form-label col-form-label-sm"> </label>
                                <div class="col-2 p-0">
                                    <button class="btn btn-primary btn-sm mr-1"
                                        (click)="SaveMemo()">{{lblSaveMemo}}</button>
                                    <button class="btn btn-primary btn-sm mr-1" (click)="NewRecord()">New</button>
                                </div>
                                <!-- <div class="col-1">
                                    <button class="btn btn-primary btn-sm mr-1" (click)="NewRecord()">New</button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <hr>
                <!-- Second row -->
                <div class="col-md-12 px-0 mx-0">
                    <div class="row">
                        <div class="col-md-12 testbox  px-0 mx-0">
                            <div class="page-list">
                                <div class="page-body table-responsive">
                                    <table class="table  table-hover table-sm">
                                        <thead class="page-body-thead">
                                            <tr>
                                                <th>USER</th>
                                                <th>ASSIGNED TO</th>
                                                <th>FOLLOW UP ON</th>
                                                <th>NOTES</th>
                                                <th style="text-align:center">REMOVE</th>
                                            </tr>
                                        </thead>
                                        <tbody class="page-body-tbody">
                                            <tr *ngFor="let rec of records; let i = index"
                                                [class.active]="i == selectedRowIndex" (click)="SetRowIndex(i)">
                                                <td class="p-0">{{rec.rec_created_by}} </td>
                                                <td class="p-0">{{rec.cf_assigned_code}}</td>
                                                <td class="p-0">{{rec.cf_followup_date | date : gs.FRONTEND_DATEFORMAT}}
                                                </td>
                                                <td class="p-0" (blur)="onBlur('remarks',rec)" (click)="EditRow(rec)">
                                                    {{rec.remarks}}</td>
                                              
                                                <td  class="p-0" align='center'><i class="fa fa-trash  fa-lg pointer"
                                                        aria-hidden="true" (click)="RemoveRow(rec)"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>