<div class="page-list" >
  <div class="page-search">
    <!-- <div class="row">
      <div class="col-md-3">
        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">Search</label>
          <div class="col-10">
            <input class="form-control form-control-sm" type="text" [(ngModel)]="searchQuery.searchString" />
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm"></label>
          <div class="col-10">
            <button [disabled]="loading" (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Process</button>
            <button [disabled]="loading" (click)="List('EXCEL')" class="btn btn-primary btn-sm">Excel</button>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row">
        <div class="col-md-3">
          <div class="form-group row">
            <label class="col-4 col-form-label col-form-label-sm">From</label>
            <div class="col-8">
              <app-date [inputdate]="searchQuery.fromdate" (ValueChanged)="searchQuery.fromdate=$event">
              </app-date>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group row">
            <label class="col-4 col-form-label col-form-label-sm">To</label>
            <div class="col-8">
              <app-date [inputdate]="searchQuery.todate" (ValueChanged)="searchQuery.todate=$event">
              </app-date>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group row">
            <label class="col-4 col-form-label col-form-label-sm">Ref#:</label>
            <div class="col-8">
              <input class="form-control form-control-sm" type="text" [(ngModel)]="searchQuery.searchString" />
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group row">
            <label class="col-4 col-form-label col-form-label-sm"></label>
            <div class="col-8">
              <button  (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Search</button>
              <!-- <button [disabled]="loading" (click)="List('EXCEL')" class="btn btn-primary btn-sm">Excel</button> -->
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
