<div class="page-header">
  <div class="col">
      <label class="mr-1">{{mainservice.title}}</label>
 
      <a class="btn btn-primary btn-sm mr-1" *ngIf="mainservice.canAdd" [routerLink]="getLink('ADD')" [queryParams]="getParam()">New</a>
 
      <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
      
  </div>
</div>

<div *ngIf="errorMessage$ | async" class="alert alert-danger">
  {{errorMessage$ | async}}
</div>

<app-seaexp-master-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)" ></app-seaexp-master-header>

<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

<div class="page-body table-responsive table-bordered">
  <table class="table  table-hover table-sm">
      <thead class="page-body-thead">
          <tr>
              <th (click)="mainservice.sort('mbl_refno')">REF.NO&nbsp;<i [ngClass]="mainservice.getIcon('mbl_refno')"></i></th>
              <th (click)="mainservice.sort('mbl_ref_date')">DATE&nbsp;<i [ngClass]="mainservice.getIcon('mbl_ref_date')"></i></th>
              <th (click)="mainservice.sort('mbl_no')">MBL#&nbsp;<i [ngClass]="mainservice.getIcon('mbl_no')"></i></th>
              <th (click)="mainservice.sort('mbl_agent_name')">AGENT&nbsp;<i [ngClass]="mainservice.getIcon('mbl_agent_name')"></i></th>
              <th (click)="mainservice.sort('mbl_liner_name')">CARRIER&nbsp;<i [ngClass]="mainservice.getIcon('mbl_liner_name')"></i></th>

              <th (click)="mainservice.sort('mbl_pol_name')">POL&nbsp;<i [ngClass]="mainservice.getIcon('mbl_pol_name')"></i></th>              
              <th (click)="mainservice.sort('mbl_pol_etd')">ETD&nbsp;<i [ngClass]="mainservice.getIcon('mbl_pol_etd')"></i></th>              

              <th (click)="mainservice.sort('mbl_pod_name')">POD&nbsp;<i [ngClass]="mainservice.getIcon('mbl_pod_name')"></i></th>              
              <th (click)="mainservice.sort('mbl_pod_etd')">ETA&nbsp;<i [ngClass]="mainservice.getIcon('mbl_pod_etd')"></i></th>              
              <th (click)="mainservice.sort('mbl_cntr_type')">TYPE&nbsp;<i [ngClass]="mainservice.getIcon('mbl_cntr_type')"></i></th>              

              <th (click)="mainservice.sort('mbl_teu')">TEU&nbsp;<i [ngClass]="mainservice.getIcon('mbl_teu')"></i></th>              
              <th (click)="mainservice.sort('mbl_cbm')">CBM&nbsp;<i [ngClass]="mainservice.getIcon('mbl_cbm')"></i></th>              

              <th (click)="mainservice.sort('mbl_handled_name')">HANDLED-BY&nbsp;<i [ngClass]="mainservice.getIcon('mbl_handled_name')"></i></th>              
              <th (click)="mainservice.sort('rec_created_by')">CREATD-BY&nbsp;<i [ngClass]="mainservice.getIcon('rec_created_by')"></i></th>                            
              <th (click)="mainservice.sort('rec_created_date')">DATE&nbsp;<i [ngClass]="mainservice.getIcon('rec_created_date')"></i></th>                            
              <th *ngIf="mainservice.canDelete" class='text-center'>DELETE</th>                 
          </tr>
      </thead>
      <tbody class="page-body-tbody">
          <tr *ngFor="let rec of records$ | async |  sortBy: mainservice.getSortCol() : mainservice.getSortOrder()">
              <td *ngIf="!this.mainservice.canEdit">{{rec.mbl_refno}}</td>
              <td *ngIf="this.mainservice.canEdit" >
                <a class="hlink" [routerLink]="getLink('EDIT')" [queryParams]="getParam(rec)">{{rec.mbl_refno}}</a>
              </td>
              <td>{{rec.mbl_ref_date | date : gs.FRONTEND_DATEFORMAT }}</td>
              <td>{{rec.mbl_no}}</td>
              <td>{{rec.mbl_agent_name}}</td>
              <td>{{rec.mbl_liner_name}}</td>
              <td>{{rec.mbl_pol_name}}</td>              
              <td>{{rec.mbl_pol_etd | date : gs.FRONTEND_DATEFORMAT }}</td>
              <td>{{rec.mbl_pod_name}}</td>
              <td>{{rec.mbl_pod_eta | date : gs.FRONTEND_DATEFORMAT }}</td>
              <td>{{rec.mbl_cntr_type}}</td>
              <td>{{rec.mbl_teu}}</td>              
              <td>{{rec.mbl_cntr_cbm}}</td>
              <td>{{rec.mbl_handled_name}}</td>
              <td>{{rec.rec_created_by}}</td>
              <td>{{rec.rec_created_date | date : gs.FRONTEND_DATEFORMAT }}</td>
              <td *ngIf="mainservice.canDelete" class="p-0 text-center"><i class="fa fa-trash  fa-lg pointer" aria-hidden="true"
                (click)="mainservice.DeleteRow(rec)"></i></td>
          </tr>
      </tbody>
  </table>
</div>


<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>



