<div class="page-list">
    <div class="page-search">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">Sender</label>
                    <div class="col-8">
                        <input class="form-control form-control-sm" type="text" [(ngModel)]="searchQuery.sender" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">Status</label>
                    <div class="col-8">
                        <input type="checkbox" [(ngModel)]="searchQuery.chkpending" />
                        <span>&nbsp;Pending&nbsp;&nbsp;</span>
                        <input type="checkbox" [(ngModel)]="searchQuery.chkcompleted" />
                        <span>&nbsp;Processed&nbsp;&nbsp;</span>
                        <input type="checkbox" [(ngModel)]="searchQuery.chkdeleted" />
                        <span>&nbsp;Deleted</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">MBL/HBL#</label>
                    <div class="col-8">
                        <input class="form-control form-control-sm" type="text" [(ngModel)]="searchQuery.searchString" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">Link.Type</label>
                    <div class="col-8">
                        <select class="form-control form-control-sm" [(ngModel)]="searchQuery.linkType">
                            <option [value]="'MBL#'">MBL#</option>
                            <option [value]="'TRANSFER'">TRANSFER</option>
                          </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm"></label>
                    <div class="col-8">
                        <button (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Find</button> 
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm"></label>
                    <div class="col-8">
                        <button (click)="FindMissingData()" class="btn btn-primary btn-sm mr-1">Find Missing Data</button> 
                        <button (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Delete</button> 
                    </div>
                </div>
            </div>
             
        </div>
    </div>
</div>