<div *ngIf="errorMessage$ | async" class="alert alert-danger">
    {{errorMessage$ | async}}
</div>
<app-shipdatapage-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)">
</app-shipdatapage-header>

<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

<div class="page-body table-responsive">
    <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
            <tr>
                <th>STATUS</th>
                <th>MESSAGEFROM</th>
                <th>MESSAGE</th>
                <th>MESSAGEDATE</th>
                <th>CHECK</th>
                <th>SHIPPER</th>
                <th>CONSIGNEE</th>
                <th>POL</th>
                <th>ETD</th>
                <th>POD</th>
                <th>ETA</th>
                <th>PLACE.DELIVERY</th>
                <th>REFNO</th>
                <th>BRANCH</th>
                <th>MBLNO</th>
                <th>HOUSE</th>
                <th>REFNO</th>
                <th>AGENT</th>
                <th>CARRIER</th>
            </tr>
        </thead>
        <tbody class="page-body-tbody">
            <tr *ngFor="let rec of  records$ | async">
                <td>{{rec.updated_status}}</td>
                <td>{{rec.messagesender}}</td>
                <td>{{rec.messagenumber}}</td>
                <td>{{rec.messagedate | date : gs.FRONTEND_DATEFORMAT}}</td>
                <td class='hlink' (click)="XmlImportData(rec)">CHECK</td>
                <td>{{rec.mshipper_name}}</td>
                <td>{{rec.consignee_name}}</td>
                <td>{{rec.pol_name}}</td>
                <td>{{rec.pol_etd | date : gs.FRONTEND_DATEFORMAT}}</td>
                <td>{{rec.pod_name}}</td>
                <td>{{rec.pod_eta | date : gs.FRONTEND_DATEFORMAT}}</td>
                <td>{{rec.place_delivery}}</td>
                <td>{{rec.mbl_refno}}</td>
                <td>{{rec.mbl_branch_code}}</td>
                <td class='hlink' (click)="XmlImportData(rec)">{{rec.mbl_no}}</td>
                <td>{{rec.house_nos}}</td>
                <td>{{rec.refno}}</td>
                <td>{{rec.agent_name}}</td>
                <td>{{rec.carrier_name}}</td>         
            </tr>
        </tbody>
    </table>
</div>

<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>