<div class="page-list">
    <div class="page-search">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group row">
                    <label class="col-4 col-form-label col-form-label-sm">SortOrder</label>
                    <div class="col-8">
                        <select class="form-control form-control-sm" [(ngModel)]="searchQuery.sort_parameter">
                            <option [value]="'gen_code'">CODE</option>
                            <option [value]="'gen_name'">NAME</option>
                            <option [value]="'gen_type2'">CATEGORY</option>
                            <option [value]="'gen_address1'">ADDRESS-1</option>
                            <option [value]="'c.param_name1'">COUNTRY</option>
                            <option [value]="'gen_contact'">CONTACT</option>
                            <option [value]="'gen_tel'">TEL</option>
                            <option [value]="'gen_fax'">FAX</option>
                            <option [value]="'a.rec_created_by'">CREATED BY</option>
                            <option [value]="'a.rec_created_date'">CREATED DT</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label class="col-4 col-form-label col-form-label-sm">Code/Name</label>
                    <div class="col-8">
                        <input class="form-control form-control-sm" type="text"
                            [(ngModel)]="searchQuery.searchString" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group row">
                    <label class="col-4 col-form-label col-form-label-sm"></label>
                    <div class="col-8">
                        <button (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>