<div class="page-header">
    <div class="row align-items-center justify-content-left p-1">
        <label class="mr-3">Payroll Memo</label>
        <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
    </div>
</div>

<div *ngIf="errorMessage">
    <div class="alert alert-primary">
        {{errorMessage}}
    </div>
</div>

<div class="page-body">
    <div class="row">

        <div class="col-md-4 testbox  px-0 mx-0">

            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm">Name</label>
                <div class="col-10 input-group input-group-sm">
                    <input class="form-control form-control-sm mr-1" type="text" [(ngModel)]="emp_name" maxlength="60"
                        disabled />
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" [(ngModel)]="record.cpd_include_payroll_b" />
                        <span>Include in Payroll Register</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm">Gross</label>
                <div class="col-4">
                    <input class="form-control form-control-sm" type="number" (blur)="onBlur('A1')"
                        (change)="onChange('A1')" (focus)="onFocus('A1')" [(ngModel)]="record.A1" maxlength="15" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm">FICA</label>
                <div class="col-4">
                    <input class="form-control form-control-sm" type="number" (blur)="onBlur('D1')"
                        (change)="onChange('D1')" (focus)="onFocus('D1')" [(ngModel)]="record.D1" maxlength="15" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm">Medicare</label>
                <div class="col-4">
                    <input class="form-control form-control-sm" type="number" (blur)="onBlur('D2')"
                        (change)="onChange('D2')" (focus)="onFocus('D2')" [(ngModel)]="record.D2" maxlength="15" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm">Federal</label>
                <div class="col-4">
                    <input class="form-control form-control-sm" type="number" (blur)="onBlur('D3')"
                        (change)="onChange('D3')" (focus)="onFocus('D3')" [(ngModel)]="record.D3" maxlength="15" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm">State</label>
                <div class="col-4">
                    <input class="form-control form-control-sm" type="number" (blur)="onBlur('D4')"
                        (change)="onChange('D4')" (focus)="onFocus('D4')" [(ngModel)]="record.D4" maxlength="15" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm">City</label>
                <div class="col-4">
                    <input class="form-control form-control-sm" type="number" (blur)="onBlur('D5')"
                        (change)="onChange('D5')" (focus)="onFocus('D5')" [(ngModel)]="record.D5" maxlength="15" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm">Medical</label>
                <div class="col-4">
                    <input class="form-control form-control-sm" type="number" (blur)="onBlur('D6')"
                        (change)="onChange('D6')" (focus)="onFocus('D6')" [(ngModel)]="record.D6" maxlength="15" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm">IRC</label>
                <div class="col-4">
                    <input class="form-control form-control-sm" type="number" (blur)="onBlur('D7')"
                        (change)="onChange('D7')" (focus)="onFocus('D7')" [(ngModel)]="record.D7" maxlength="15" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm">NetPay</label>
                <div class="col-4">
                    <input class="form-control form-control-sm text-danger" type="number" [maxlength]="15" disabled
                        [(ngModel)]="record.NET" />
                </div>
            </div>


        </div>

        <div class="col-md-6 testbox  px-0 mx-0">

        </div>

    </div>
</div>

<div class="page-footer">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                    <button class="btn btn-primary btn-md" (click)="Save()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>