<div class="page-header">
    <div class="row align-items-center justify-content-left p-1">
        <label class="mr-3">AR/AP Settlement ({{mode}})</label>
        <button class="btn btn-primary btn-sm mr-1" *ngIf="gs.canAdd(menuid)" (click)="NewRecord()">New</button>
        <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
    </div>
</div>

<div *ngIf="errorMessage">
    <div class="alert alert-primary">
        {{errorMessage}}
    </div>
</div>

<div class="page-body">
    <div class="row">
        <div class="col-md-6 px-0 mx-0">

            <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">CUSTOMER</label>
                <div class="col-4">
                    <app-autocomplete2 [controlname]="'CUSTOMER'" [tabletype]="'MASTER'" [displaycolumn]="'CODE'"
                        [where]="where" [displaydata]="code" (ValueChanged)="LovSelected($event)">
                    </app-autocomplete2>
                </div>
                <label class="col-5 col-form-label col-form-label-sm">{{cust_name}}</label>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">REF#</label>
                <div class="col-4">
                    <input class="form-control form-control-sm" type="text" (blur)="onBlur('refno')" [(ngModel)]="refno"
                        maxlength="100" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">INVOICE#</label>
                <div class="col-4">
                    <input class="form-control form-control-sm" type="text" (blur)="onBlur('invno')" [(ngModel)]="invno"
                        maxlength="100" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">CUST REF#</label>
                <div class="col-4">
                    <input class="form-control form-control-sm" type="text" (blur)="onBlur('custrefno')"
                        [(ngModel)]="custrefno" maxlength="100" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" [(ngModel)]="showall"><span>Show All</span>
                    </div>
                </div>

                <div class="col-4">
                    <button (click)="getPendingList()" class="btn btn-primary btn-sm mr-1">Search</button>
                </div>
            </div>

        </div>

        <div class="col-md-6  px-0 mx-0">


            <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">TYPE</label>
                <label class="col-3 col-form-label col-form-label-sm">A/R</label>
                <label class="col-3 col-form-label col-form-label-sm">A/P</label>
                <label class="col-3 col-form-label col-form-label-sm">A/R - A/P</label>                
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">BALANCE</label>
                <label class="col-3 col-form-label col-form-label-sm">{{txt_Bal_AR}}</label>
                <label class="col-3 col-form-label col-form-label-sm">{{txt_Bal_AP}}</label>
                <label class="col-3 col-form-label col-form-label-sm">{{txt_Bal_diff}}</label>                
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">SELECTED</label>
                <label class="col-3 col-form-label col-form-label-sm">{{txt_tot_AR}}</label>
                <label class="col-3 col-form-label col-form-label-sm">{{txt_tot_AP}}</label>
                <label class="col-3 col-form-label col-form-label-sm">{{txt_tot_diff}}</label>                
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <label class="col-3 col-form-label col-form-label-sm">BALANCe LEFT</label>
                <label class="col-3 col-form-label col-form-label-sm">{{txt_diff}}</label>                
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">COUNT</label>
                <label class="col-3 col-form-label col-form-label-sm">{{LBL_COUNT}}</label>
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <label class="col-3 col-form-label col-form-label-sm">{{LBL_STATUS}}</label>                
            </div>            




        </div>

    </div>
</div>


<div class="page-body table-responsive" >
    <table class="table table-hover table-sm fixed_header">
        <thead class="page-body-thead">
            <tr>
                <th>INV-NO</th>
                <th>INV-DATE</th>
                <th>REFNO</th>
                <th>ARAP</th>
                <th>CUST-REFNO</th>
                <th>INV-AMT</th>
                <th>A/R</th>
                <th>A/P</th>
                <th>SELECT</th>
                <th>PAY-AMT</th>
            </tr>
        </thead>
        <tbody class="page-body-tbody">
            <tr *ngFor="let rec of pendingList">
                <td>{{rec.inv_no}}</td>
                <td>{{rec.inv_date | date : gs.FRONTEND_DATEFORMAT }}</td>
                <td>{{rec.inv_mbl_refno}} </td>
                <td>LIST</td>
                <td>{{rec.inv_refno}} </td>
                <td>{{rec.inv_total | number : '1.2-2'}} </td>
                <td>{{rec.inv_ar_total | number : '1.2-2'}} </td>
                <td>{{rec.inv_ap_total | number : '1.2-2'}} </td>
                <td>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" (click)="swapSelection(rec)" #chkbox
                            [(ngModel)]="rec.inv_flag2"></div>
                </td>
                <td>{{rec.inv_pay_amt | number : '1.2-2'}} </td>
            </tr>
        </tbody>
    </table>
</div>




<div class="page-footer">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm"></label>
                <div class="col-8">
                    <button class="btn btn-primary btn-sm" (click)="Save()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>