<div class="page-header">
  <div class="row align-items-center justify-content-left p-1">
    <label class="pr-1">{{title}} ({{mode}}) </label>
    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
    <label class="text-danger" *ngIf="is_locked">LOCKED</label>
  </div>
</div>

<div *ngIf="errorMessage.length >0">
  <div class="alert alert-success">
    <a (click)="errorMessage=[]" class="close" aria-label="close">&times;</a>
    <ul>
      <li *ngFor="let str of errorMessage">
        <p class="h4"> {{str}}</p>
      </li>
    </ul>
  </div>
</div>


<div class="page-body">

  <div class="row">

    <div class="col-md-4  px-0 mx-0">
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">House#</label>
        <div class="col-8">
          <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_houseno')" [disabled]="true"
            [(ngModel)]="record.hbl_houseno" maxlength="60" />
        </div>
      </div>
    </div>

    <div class="col-md-4  px-0 mx-0">
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Ref#</label>
        <div class="col-8">
          <input class="form-control form-control-sm" type="text" (blur)="onBlur('mbl_refno')" [disabled]="true"
            [(ngModel)]="record.mbl_refno" maxlength="60" />
        </div>
      </div>
    </div>

    <div class="col-md-4  px-0 mx-0">

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Stage</label>
        <div class="col-8">
          <select class="form-control form-control-sm" [(ngModel)]="record.hbl_shipment_stage"
            [disabled]="is_stage_locked">
            <option *ngFor="let rec of gs.SHIPMENT_STAGE_AE" [value]="rec.code">{{rec.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="row">
    <div class="col-md-4  px-0 mx-0">
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Shipper</label>
        <div class="col-8">
          <app-autocomplete2 [controlname]="'SHIPPER'" [tabletype]="'MASTER'" [displaycolumn]="'CODE'"
            [displaydata]="record.hbl_shipper_code" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Name</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_shipper_name" [maxlength]="60" [uppercase]="true" #shipper_name>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_shipper_add1" [maxlength]="60" [uppercase]="true" #shipper_add1>
          </InputBox>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_shipper_add2" [maxlength]="60" [uppercase]="true">
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">

          <InputBox [(inputModel)]="record.hbl_shipper_add3" [maxlength]="60" [uppercase]="true" #shipper_add3>
          </InputBox>

        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_shipper_add4" [maxlength]="120" [uppercase]="true" #shipper_add4>
          </InputBox>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Consignee</label>
        <div class="col-8">
          <app-autocomplete2 [controlname]="'CONSIGNEE'" [tabletype]="'MASTER'" [displaycolumn]="'CODE'"
            [displaydata]="record.hbl_consignee_code" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Name</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_consigned_to1" [maxlength]="60" [uppercase]="true" #consigned_to1>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_consigned_to2" [maxlength]="60" [uppercase]="true" #consigned_to2>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_consigned_to3" [maxlength]="60" [uppercase]="true" #consigned_to3>
          </InputBox>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_consigned_to4" [maxlength]="120" [uppercase]="true" #consigned_to4>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_consigned_to5" [maxlength]="120" [uppercase]="true" #consigned_to5>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Accounting</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_notify_name" [maxlength]="60" [uppercase]="true" #notify_name>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Information</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_notify_add1" [maxlength]="60" [uppercase]="true" #notify_add1>
          </InputBox>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_notify_add2" [maxlength]="60" [uppercase]="true" #notify_add2>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_notify_add3" [maxlength]="60" [uppercase]="true" #notify_add3>
          </InputBox>
        </div>
      </div>
    </div>


    <div class="col-md-4  px-0 mx-0">


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Issued By</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_exp_ref1" [maxlength]="60" [uppercase]="true" #exp_ref1>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_exp_ref2" [maxlength]="60" [uppercase]="true" #exp_ref2>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_exp_ref3" [maxlength]="60" [uppercase]="true" #exp_ref3>
          </InputBox>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Issuing Agent</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_agent_name" [maxlength]="60" [uppercase]="true" #agent_name>
          </InputBox>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_agent_city" [maxlength]="60" [uppercase]="true" #agent_city>
          </InputBox>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Place Of Delivery</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_place_delivery" [maxlength]="60" [uppercase]="true" #place_delivery>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">IATA</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_iata" [maxlength]="30" [uppercase]="true" #iata>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Account#</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_accno" [maxlength]="60" [uppercase]="true" #accno>
          </InputBox>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Frt.Status</label>
        <div class="col-8">
          <select class="form-control form-control-sm" [(ngModel)]="record.hbl_frt_status">
            <option *ngFor="let rec of gs.PARAM_FREIGHT_STATUS" [value]="rec.name">{{rec.name}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Other Charges/PC</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_oc_status" [maxlength]="1" [uppercase]="true" #oc_status>
          </InputBox>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Value For Carriage</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_carriage_value" [maxlength]="3" [uppercase]="true" #carriage_value>
          </InputBox>
        </div>
      </div>



      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Value For Customs</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_customs_value" [maxlength]="3" [uppercase]="true" #customs_value>
          </InputBox>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Insurance Amt</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_ins_amt" [maxlength]="30" [uppercase]="true" #ins_amt>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">AES#</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_aesno" [maxlength]="30" [uppercase]="true" #aesno>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">L/C#</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_lcno" [maxlength]="30" [uppercase]="true" #lcno>
          </InputBox>
        </div>
      </div>
    </div>

    <div class="col-md-4  px-0 mx-0">

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Nomination</label>
        <div class="col-8">
          <select class="form-control form-control-sm" [(ngModel)]="record.hbl_bltype" #bltype>
            <option *ngFor="let rec of gs.PARAM_NOMINATION" [value]="rec.code">{{rec.name}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Handled.By</label>
        <div class="col-8">
          <app-autocomplete2 [controlname]="'HANDLEDBY'" [tabletype]="'PARAM'" [subtype]="'SALESMAN'"
            [displaycolumn]="'NAME'" [displaydata]="record.hbl_handled_name" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Sales Rep.</label>
        <div class="col-8">
          <app-autocomplete2 [controlname]="'SMAN'" [tabletype]="'PARAM'" [subtype]="'SALESMAN'"
            [displaycolumn]="'NAME'" [displaydata]="record.hbl_salesman_name" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
      </div>



      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Nature Of Goods</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_goods_nature" [maxlength]="60" [uppercase]="true" #goods_nature>
          </InputBox>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Commodity</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_commodity" [maxlength]="60" [uppercase]="true" #commodity7>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Hbl Format</label>
        <div class="col-8">
          <select class="form-control form-control-sm" [(ngModel)]="record.hbl_format_id" #format_id>
            <option *ngFor="let rec of gs.PARAM_HAWB_FORMAT_BLANK" [value]="rec.code">{{rec.name}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Handling Info</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_rout1" [maxlength]="60" [uppercase]="true" #rout1>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_rout2" [maxlength]="60" [uppercase]="true" #rout2>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_rout3" [maxlength]="60" [uppercase]="true" #rout3>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Departure</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_pol_name" [maxlength]="60" [uppercase]="true" #pol_name>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Destination</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_pod_name" [maxlength]="60" [uppercase]="true" #pod_name>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8 ">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_asarranged_shipper_b" />
            <span>As Arranged (SHIPPER)</span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8 ">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_asarranged_consignee_b" />
            <span>As Arranged (CONSIGNEE)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="row">
    <div class="col-md-12  px-0 mx-0">


      <div class="form-group row">
        <label class="col-2  pr-0 col-form-label col-form-label-sm">PCS</label>
        <label class="col-2 pl-0  pr-0 col-form-label col-form-label-sm">GR.WT</label>
        <label class="col-1 pl-0  pr-0 col-form-label col-form-label-sm">KG/LB</label>
        <label class="col-1 pl-0  pr-0 col-form-label col-form-label-sm">CLASS</label>
        <label class="col-1 pl-0  pr-0 col-form-label col-form-label-sm">COMM</label>
        <label class="col-2 pl-0  pr-0 col-form-label col-form-label-sm">CH.WT</label>
        <label class="col-1 pl-0  pr-0 col-form-label col-form-label-sm">RATE</label>
        <label class="col-2 pl-0   col-form-label col-form-label-sm">TOTAL</label>
      </div>
      <div class="form-group row">
        <div class="col-2    pr-0">
          <InputBoxNumber [(inputModel)]="record.hbl_packages" [maxlength]="15" [dec]="0" #packages></InputBoxNumber>
        </div>
        <div class="col-2 pl-0  pr-0">
          <InputBoxNumber [(inputModel)]="record.hbl_weight" [maxlength]="15" [dec]="3" #weight></InputBoxNumber>
        </div>
        <div class="col-1 pl-0  pr-0">
          <InputBox [(inputModel)]="record.hbl_weight_unit" [maxlength]="2" [uppercase]="true" #weight_unit></InputBox>
        </div>
        <div class="col-1 pl-0  pr-0">
          <InputBox [(inputModel)]="record.hbl_class" [maxlength]="1" [uppercase]="true" #class></InputBox>
        </div>
        <div class="col-1 pl-0  pr-0">
          <InputBox [(inputModel)]="record.hbl_comm" [maxlength]="4" [uppercase]="true" #comm></InputBox>
        </div>
        <div class="col-2 pl-0  pr-0">
          <InputBoxNumber [(inputModel)]="record.hbl_chwt" [maxlength]="15" [dec]="3" #chwt></InputBoxNumber>
        </div>
        <div class="col-1 pl-0  pr-0">
          <InputBoxNumber [(inputModel)]="record.hbl_rate" [maxlength]="15" [dec]="2" #rate></InputBoxNumber>
        </div>
        <div class="col-2 pl-0  ">
          <InputBoxNumber [(inputModel)]="record.hbl_total" [maxlength]="15" [dec]="2" #total></InputBoxNumber>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="row">
    <div class="col-md-8  px-0 mx-0">
      <div class="form-group row">
        <label class="col-12  pr-0 col-form-label col-form-label-sm">Descriptions</label>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <InputBox [(inputModel)]="recorddet.mark1" [maxlength]="50" [uppercase]="true" #mark1> </InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <InputBox [(inputModel)]="recorddet.mark2" [maxlength]="50" [uppercase]="true" #mark2> </InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <InputBox [(inputModel)]="recorddet.mark3" [maxlength]="50" [uppercase]="true" #mark3> </InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <InputBox [(inputModel)]="recorddet.mark4" [maxlength]="50" [uppercase]="true" #mark4> </InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <InputBox [(inputModel)]="recorddet.mark5" [maxlength]="50" [uppercase]="true" #mark5> </InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <InputBox [(inputModel)]="recorddet.mark6" [maxlength]="50" [uppercase]="true" #mark6> </InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <InputBox [(inputModel)]="recorddet.mark7" [maxlength]="50" [uppercase]="true" #mark7> </InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <InputBox [(inputModel)]="recorddet.mark8" [maxlength]="50" [uppercase]="true" #mark8> </InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <InputBox [(inputModel)]="recorddet.mark9" [maxlength]="50" [uppercase]="true" #mark9> </InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <InputBox [(inputModel)]="recorddet.mark10" [maxlength]="50" [uppercase]="true" #mark10> </InputBox>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-6  pr-0 col-form-label col-form-label-sm">Other Charges To Agent</label>
        <label class="col-2 pl-0  pr-0 col-form-label col-form-label-sm">Rate</label>
        <label class="col-2 pl-0  pr-0 col-form-label col-form-label-sm">Total</label>
        <label class="col-2 pl-0   col-form-label col-form-label-sm">Print.S/C</label>
      </div>
      <div class="form-group row">
        <div class="col-6    pr-0">
          <InputBox [(inputModel)]="record.hbl_charges1" [maxlength]="25" [uppercase]="true" #charges1>
          </InputBox>
        </div>
        <div class="col-2 pl-0  pr-0">
          <InputBoxNumber [(inputModel)]="record.hbl_rate1" [maxlength]="15" [dec]="2" #rate1></InputBoxNumber>
        </div>
        <div class="col-2 pl-0">
          <InputBoxNumber [(inputModel)]="record.hbl_total1" [maxlength]="15" [dec]="2" #total1></InputBoxNumber>
        </div>
        <div class="col-2 pl-0">
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_print_shpr1_b" />
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_print_cons1_b" />
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6    pr-0">
          <InputBox [(inputModel)]="record.hbl_charges2" [maxlength]="25" [uppercase]="true" #charges2>
          </InputBox>
        </div>
        <div class="col-2 pl-0  pr-0">
          <InputBoxNumber [(inputModel)]="record.hbl_rate2" [maxlength]="15" [dec]="2" #rate2></InputBoxNumber>
        </div>
        <div class="col-2 pl-0">
          <InputBoxNumber [(inputModel)]="record.hbl_total2" [maxlength]="15" [dec]="2" #total2></InputBoxNumber>
        </div>
        <div class="col-2 pl-0">
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_print_shpr2_b" />
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_print_cons2_b" />
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6    pr-0">
          <InputBox [(inputModel)]="record.hbl_charges3" [maxlength]="25" [uppercase]="true" #charges3>
          </InputBox>
        </div>
        <div class="col-2 pl-0  pr-0">
          <InputBoxNumber [(inputModel)]="record.hbl_rate3" [maxlength]="15" [dec]="2" #rate3></InputBoxNumber>
        </div>
        <div class="col-2 pl-0">
          <InputBoxNumber [(inputModel)]="record.hbl_total3" [maxlength]="15" [dec]="2" #total3></InputBoxNumber>
        </div>
        <div class="col-2 pl-0">
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_print_shpr3_b" />
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_print_cons3_b" />
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6    pr-0">
          <InputBox [(inputModel)]="record.hbl_charges4" [maxlength]="25" [uppercase]="true" #charges4>
          </InputBox>
        </div>
        <div class="col-2 pl-0  pr-0">
          <InputBoxNumber [(inputModel)]="record.hbl_rate4" [maxlength]="15" [dec]="2" #rate4></InputBoxNumber>
        </div>
        <div class="col-2 pl-0">
          <InputBoxNumber [(inputModel)]="record.hbl_total4" [maxlength]="15" [dec]="2" #total4></InputBoxNumber>
        </div>
        <div class="col-2 pl-0">
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_print_shpr4_b" />
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_print_cons4_b" />
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6    pr-0">
          <InputBox [(inputModel)]="record.hbl_charges5" [maxlength]="25" [uppercase]="true" #charges5>
          </InputBox>
        </div>
        <div class="col-2 pl-0  pr-0">
          <InputBoxNumber [(inputModel)]="record.hbl_rate5" [maxlength]="15" [dec]="2" #rate5></InputBoxNumber>
        </div>
        <div class="col-2 pl-0">
          <InputBoxNumber [(inputModel)]="record.hbl_total5" [maxlength]="15" [dec]="2" #total5></InputBoxNumber>
        </div>
        <div class="col-2 pl-0">
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_print_shpr5_b" />
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_print_cons5_b" />
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-6  pr-0 col-form-label col-form-label-sm">Other Charges To Carrier</label>
        <label class="col-2 pl-0  pr-0 col-form-label col-form-label-sm">Rate</label>
        <label class="col-2 pl-0  pr-0 col-form-label col-form-label-sm">Total</label>
        <label class="col-2 pl-0   col-form-label col-form-label-sm">Print.S/C</label>
      </div>
      <div class="form-group row">
        <div class="col-6    pr-0">
          <InputBox [(inputModel)]="record.hbl_charges1_carrier" [maxlength]="25" [uppercase]="true" #charges1_carrier>
          </InputBox>
        </div>
        <div class="col-2 pl-0  pr-0">
          <InputBoxNumber [(inputModel)]="record.hbl_rate1_carrier" [maxlength]="15" [dec]="2" #rate1_carrier>
          </InputBoxNumber>
        </div>
        <div class="col-2 pl-0">
          <InputBoxNumber [(inputModel)]="record.hbl_total1_carrier" [maxlength]="15" [dec]="2" #total1_carrier>
          </InputBoxNumber>
        </div>
        <div class="col-2 pl-0">
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_print_shpr1_carrier_b" />
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_print_cons1_carrier_b" />
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6    pr-0">
          <InputBox [(inputModel)]="record.hbl_charges2_carrier" [maxlength]="25" [uppercase]="true" #charges2_carrier>
          </InputBox>
        </div>
        <div class="col-2 pl-0  pr-0">
          <InputBoxNumber [(inputModel)]="record.hbl_rate2_carrier" [maxlength]="15" [dec]="2" #rate2_carrier>
          </InputBoxNumber>
        </div>
        <div class="col-2 pl-0">
          <InputBoxNumber [(inputModel)]="record.hbl_total2_carrier" [maxlength]="15" [dec]="2" #total2_carrier>
          </InputBoxNumber>
        </div>
        <div class="col-2 pl-0">
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_print_shpr2_carrier_b" />
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_print_cons2_carrier_b" />
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6    pr-0">
          <InputBox [(inputModel)]="record.hbl_charges3_carrier" [maxlength]="25" [uppercase]="true" #charges3_carrier>
          </InputBox>
        </div>
        <div class="col-2 pl-0  pr-0">
          <InputBoxNumber [(inputModel)]="record.hbl_rate3_carrier" [maxlength]="15" [dec]="2" #rate3_carrier>
          </InputBoxNumber>
        </div>
        <div class="col-2 pl-0">
          <InputBoxNumber [(inputModel)]="record.hbl_total3_carrier" [maxlength]="15" [dec]="2" #total3_carrier>
          </InputBoxNumber>
        </div>
        <div class="col-2 pl-0">
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_print_shpr3_carrier_b" />
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" [(ngModel)]="record.hbl_print_cons3_carrier_b" />
          </div>
        </div>
      </div>


    </div>
    <div class="col-md-4  px-0 mx-0">

      <div class="form-group row">
        <label class="col-12  pr-0 col-form-label col-form-label-sm">Nature And Quantity Of Goods (Incl. Dimensions or
          Volume)</label>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <InputBox [(inputModel)]="recorddet.desc1" [maxlength]="30" [uppercase]="true" #desc1></InputBox>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12">
            <InputBox [(inputModel)]="recorddet.desc2" [maxlength]="30" [uppercase]="true" #desc2></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
            <InputBox [(inputModel)]="recorddet.desc3" [maxlength]="30" [uppercase]="true" #desc3></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
            <InputBox [(inputModel)]="recorddet.desc4" [maxlength]="30" [uppercase]="true" #desc4></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
            <InputBox [(inputModel)]="recorddet.desc5" [maxlength]="30" [uppercase]="true" #desc5></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
            <InputBox [(inputModel)]="recorddet.desc6" [maxlength]="30" [uppercase]="true" #desc6></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
            <InputBox [(inputModel)]="recorddet.desc7" [maxlength]="30" [uppercase]="true" #desc7></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
            <InputBox [(inputModel)]="recorddet.desc8" [maxlength]="30" [uppercase]="true" #desc8></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
            <InputBox [(inputModel)]="recorddet.desc9" [maxlength]="30" [uppercase]="true" #desc9></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
            <InputBox [(inputModel)]="recorddet.desc10" [maxlength]="30" [uppercase]="true" #desc10></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
            <InputBox [(inputModel)]="recorddet.desc11" [maxlength]="30" [uppercase]="true" #desc11></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
            <InputBox [(inputModel)]="recorddet.desc12" [maxlength]="30" [uppercase]="true" #desc12></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
            <InputBox [(inputModel)]="recorddet.desc13" [maxlength]="30" [uppercase]="true" #desc13></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
            <InputBox [(inputModel)]="recorddet.desc14" [maxlength]="30" [uppercase]="true" #desc14></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
            <InputBox [(inputModel)]="recorddet.desc15" [maxlength]="30" [uppercase]="true" #desc15></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
            <InputBox [(inputModel)]="recorddet.desc16" [maxlength]="30" [uppercase]="true" #desc16></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
            <InputBox [(inputModel)]="recorddet.desc17" [maxlength]="30" [uppercase]="true" #desc17></InputBox>
        </div>
      </div>

    </div>


  </div>
</div>

<div class="page-body">
  <div class="row">
    <div class="col-md-4  px-0 mx-0">
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Remarks</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_remark1" [maxlength]="60" [uppercase]="true" #remark1>
          </InputBox>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_remark2" [maxlength]="60" [uppercase]="true" #remark2>
          </InputBox>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_remark3" [maxlength]="60" [uppercase]="true" #remark3>
          </InputBox>
        </div>
      </div>
    </div>
    <div class="col-md-4  px-0 mx-0">

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Agent For Shipper</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_by1" [maxlength]="60" [uppercase]="true" #by1>
          </InputBox>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_by2" [maxlength]="60" [uppercase]="true" #by2>
          </InputBox>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Agent For Carrier</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_by1_carrier" [maxlength]="60" [uppercase]="true" #by1_carrier>
          </InputBox>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_by2_carrier" [maxlength]="60" [uppercase]="true" #by2_carrier>
          </InputBox>
        </div>
      </div>
    </div>

    <div class="col-md-4  px-0 mx-0">
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Issued Date</label>
        <div class="col-8">
          <app-date [inputdate]="record.hbl_issued_date" (ValueChanged)="record.hbl_issued_date=$event"></app-date>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Issued By</label>
        <div class="col-8">
          <InputBox [(inputModel)]="record.hbl_issued_by" [maxlength]="20" [uppercase]="true" #issued_by>
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Actual Delivery Date</label>
        <div class="col-8">
          <app-date [inputdate]="record.hbl_delivery_date" (ValueChanged)="record.hbl_delivery_date=$event"></app-date>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="page-footer">
  <div class="row align-items-center justify-content-center p-1">
    <button class="btn btn-primary btn-md mr-1" *ngIf="canSave && !is_locked" (click)="Save()">Save</button>
  </div>
</div>

<div>
  <label class="col-form-label col-form-label-sm" *ngIf="record.rec_created_by"> CREATED BY: {{record.rec_created_by}} /
    {{record.rec_created_date}} </label>
</div>