<div *ngIf="tab == 'main'">
    <div class="page-header">
        <div class="col">
            <label class="mr-3"> {{hideTracking=='N' ?'Tracking':'Internal Memo'}}</label>
            <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
            <label class="text-danger" *ngIf="is_locked">LOCKED</label>
        </div>
    </div>

    <div *ngIf="errorMessage">
        <div class="alert alert-primary">
            {{errorMessage}}
        </div>
    </div>

    <div *ngIf="hideTracking=='N'">
        <div class="page-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row pt-2">
                        <!-- First row -->
                        <div class="col-md-12 px-0 mx-0">
                            <div class="row">
                                <div class="col-md-6 testbox  px-0 mx-0">
                                    <div class="form-group row">
                                        <label class="col-1 col-form-label col-form-label-sm">Ref#</label>
                                        <div class="col-11">
                                            <input disabled class="form-control form-control-sm" type="text"
                                                [(ngModel)]="refno" maxlength="500" (blur)="onBlur('refno',null)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <hr>
                        <!-- Second row -->
                        <div class="col-md-12 px-0 mx-0">
                            <div class="row">
                                <div class="col-md-12 testbox  px-0 mx-0">
                                    <div class="page-list">
                                        <div class="page-body table-responsive">
                                            <table class="table  table-hover table-sm">
                                                <thead class="page-body-thead">
                                                    <tr>
                                                        <th>STATUS</th>
                                                        <th>REMARKS</th>
                                                        <th>DATE</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="page-body-tbody">
                                                    <tr *ngFor="let rec of trackrecords; let i = index"
                                                        [class.active]="i == selectedRowIndex" (click)="SetRowIndex(i)">
                                                        <td>{{rec.param_name1}} </td>
                                                        <td class="p-0"><input #_cntr_remarks class="form-control form-control-sm"
                                                                type="text" [(ngModel)]="rec.remarks" maxlength="500"
                                                                (blur)="onBlur('remarks',rec)" /></td>
                                                        <td class="p-0">
                                                            <app-date [inputdate]="rec.date"
                                                                (ValueChanged)="rec.date=$event">
                                                            </app-date>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-footer">
            <div class="row row justify-content-center p-1">
                <button class="btn btn-primary btn-md" [disabled]="is_locked" (click)="Save()">Save</button>
            </div>
        </div>
        <br>
        <div class="page-header">
            <div class="col">
                <label>Internal Memo</label>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row pt-2">
                    <!-- First row -->
                    <div class="col-md-12 px-0 mx-0">
                        <div class="row">
                            <div class="col-md-6 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <label class="col-1 col-form-label col-form-label-sm">Date</label>
                                    <div class="col-7">
                                        <app-date disabled [inputdate]="trackmemorecord.date"
                                            (ValueChanged)="trackmemorecord.date=$event">
                                        </app-date>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-1 col-form-label col-form-label-sm">*Memo</label>
                                    <div class="col-7">
                                        <select #_cmb_notes class="form-control form-control-sm" [(ngModel)]="cmbNotes"
                                            (change)="OnChange('cmbNotes')">
                                            <option *ngFor="let rec of MemoList" [value]="rec.name">{{rec.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-1 col-form-label col-form-label-sm"></label>
                                    <div class="col-7">
                                        <textarea rows="5" class="form-control form-control-sm"
                                            [(ngModel)]="trackmemorecord.remarks" (blur)="onBlur('trackremarks')"
                                            required maxlength="500"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="offset-1 col-7 col-form-label col-form-label-sm">*Memo (Press ENTER
                                        Key to
                                        Add a New Line.)</label>
                                    <div class="col-4 p-0">
                                        <div class="row row justify-content-center p-1">
                                            <button class="btn btn-primary btn-md mr-1" [disabled]="is_locked"
                                                (click)="SaveMemo()">{{lblSaveMemo}}</button>
                                            <button class="btn btn-primary btn-md mr-1"
                                                (click)="NewRecord()">New</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <hr>
                    <!-- Second row -->
                    <div class="col-md-12 px-0 mx-0">
                        <div class="row">
                            <div class="col-md-12 testbox  px-0 mx-0">
                                <div class="page-list">
                                    <div class="page-body table-responsive">
                                        <table class="table  table-hover table-sm">
                                            <thead class="page-body-thead">
                                                <tr>
                                                    <th>CREATED-BY</th>
                                                    <th>DATE </th>
                                                    <th>MEMO</th>
                                                    <th class='text-center'>ATTACHMENTS</th>
                                                    <th class='text-center'>REMOVE</th>
                                                </tr>
                                            </thead>
                                            <tbody class="page-body-tbody">
                                                <tr *ngFor="let rec of trackmemorecords; let i = index"
                                                    [class.active]="i == selectedRowIndex" (click)="SetRowIndex(i)">
                                                    <td class="p-0">{{rec.rec_created_by}} </td>
                                                    <td class="p-0">{{rec.date  | date : gs.date_display_fmt_with_time}}
                                                    </td>
                                                    <td class="p-0" style="color: red;cursor:pointer;text-decoration: underline;" (blur)="onBlur('remarks',rec)"
                                                        (click)="EditRow(rec)">
                                                        {{rec.remarks}}</td>
                                                    <td class='p-0 text-center'><i
                                                            class="fa fa-paperclip  fa-lg pointer"
                                                            style="font-size:24px"
                                                            [style.color]="rec.rec_files_attached=='Y'?'red':black"
                                                            aria-hidden="true" (click)="AttachRow(rec,attachmodal)"></i></td>
                                                    <td class='p-0 text-center'><i class="fa fa-trash  fa-lg pointer"
                                                            aria-hidden="true" (click)="RemoveRow(rec)"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="tab=='attachment'">
    <!-- <app-fileupload [title]="'File Upload Page'" [parentid]="attach_pkid" [subid]="" [type]="'INTERNAL MEMO'" [typelist]="attach_typelist"
        [tablename]="'cargo_tracking_status'" [tablepkcolumn]="'param_id'" [refno]="" [customername]="" [updatecolumn]="'rec_files_attached'"
        [viewonlysource]="" [viewonlyid]="" [filespath]="" [filespath2]="" (callbackevent)="callbackevent($event)">
    </app-fileupload> -->
</div>
<ng-template #attachmodal let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="page-body">
            <div class="row">
                <div class="col-md-12 testbox  px-0 mx-0">
                    <app-fileupload [title]="'Documents'" [parentid]="attach_pkid" [subid]=""
                        [type]="'INTERNAL MEMO'" [typelist]="attach_typelist" [tablename]="'cargo_tracking_status'"
                        [tablepkcolumn]="'param_id'" [refno]="" [customername]="" [updatecolumn]="'rec_files_attached'"
                        [viewonlysource]="" [viewonlyid]="" [filespath]="" [filespath2]="" [modalview]="true"
                        (callbackevent)="callbackevent($event)">
                    </app-fileupload>
                </div>
            </div>
            <div class="page-footer">
                <div class="row justify-content-center p-1">
                    <button class="btn btn-primary btn-md" (click)="CloseModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>