<div class="page-header">
  <div class="row align-items-center justify-content-left p-1">
    <label class="mr-3">{{Doc_title}}</label>
    <button *ngIf="!ismodal" class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
  </div>
</div>

<div class="page-body" *ngIf="canupload">
  <div class="row border">
    <div class="col-md-6 testbox  px-0 mx-0">
      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">File</label>
        <div class="col-10">
          <input type="file" id="file" style="width: 600px" #fileinput (change)="getFileDetails($event)">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">FileName</label>
        <div class="col-10">
          <input class="form-control form-control-sm" type="text" (blur)="onBlur('txt_fileName')"
            [(ngModel)]="txt_fileName" maxlength="50" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">Ref# </label>
        <div class="col-10">
          <input class="form-control form-control-sm" type="text" (blur)="onBlur('txt_fileRefno')"
            [(ngModel)]="txt_fileRefno" maxlength="50" />
        </div>
      </div>

      <div *ngIf="Files_TypeList.length>1" class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">DocType</label>
        <div class="col-10">
          <select class="form-control form-control-sm" [(ngModel)]="txt_fileDocType">
            <option *ngFor="let rec of Files_TypeList" [value]="rec.code">{{rec.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm"></label>
        <div class="col-10">
          <button (click)="uploadFiles()">Upload</button>
        </div>
      </div>


    </div>
    <div class="col-md-6 testbox  px-0 mx-0">

    </div>
  </div>
</div>

<div class="row border">
  <div class="col-md-12  px-0 mx-0">
    <div class="page-body table-responsive">
      <!-- <div style="height: 400px; overflow-y: scroll;"> -->
        <table class="table  table-hover table-sm">
          <thead class="page-body-thead">
            <tr>
              <th>OPEN</th>
              <th *ngIf="Files_TypeList.length>1">DOC.TYPE</th>
              <th>FILE NAME</th>
              <th>SIZE</th>
              <th>REFERENCE #</th>
              <th>DATE</th>
              <th class="text-center">REMOVE</th>
              <th class="text-center">EMAIL</th>
            </tr>
          </thead>
          <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
            <tr>
              <td class="p-0"><i class="fa fa-download fa-lg pointer" aria-hidden="true" (click)="ShowFile(rec)"></i>
              </td>
              <td *ngIf="Files_TypeList.length>1" class="p-0">{{rec.files_type}}</td>
              <td (click)="editrow(rec)" class="p-0">{{rec.file_desc}}</td>
              <td class="p-0">{{rec.files_sizewithunit}}</td>
              <td class="p-0">{{rec.files_ref_no}}</td>
              <td class="p-0">{{rec.files_created_date | date : gs.date_display_fmt_with_time}}</td>
              <td class="text-center"><i class="fa fa-trash fa-lg pointer" aria-hidden="true"
                  (click)="RemoveRow(rec)"></i></td>
              <td class="text-center"><i class="fa fa-paper-plane fa-lg pointer" aria-hidden="true"
                  (click)="Sendmail(rec)"></i>
              </td>
            </tr>
            <tr *ngIf="rec.files_editrow">
              <td colspan="8">
                <app-fileupload-edit [record]="rec"></app-fileupload-edit>
              </td>
            </tr>
          </tbody>
        </table>
      <!-- </div> -->
    </div>
  </div>
</div>

<div *ngIf="errorMessage">
  <div class="alert alert-primary">
    {{errorMessage}}
  </div>
</div>