<div class="page-header">
    <div class="row  align-items-center justify-content-left p-1">
        <label class="mr-3">{{title}} ({{mode}})</label>
        <button class="btn btn-primary btn-sm mr-1" *ngIf="gs.canAdd(menuid)" (click)="NewRecord()">New</button>
        <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
        <label class="text-danger" *ngIf="is_locked">LOCKED</label>
    </div>
</div>

<div *ngIf="errorMessage.length >0">
  <div class="alert alert-success">
    <a (click)="errorMessage=[]" class="close" aria-label="close">&times;</a>
    <ul>
      <li *ngFor="let str of errorMessage">
        <p class="h4"> {{str}}</p>
      </li>
    </ul>
  </div>
</div>

<div class="page-body">
    <div class="row">
        <div class="col-md-6  p-1 testbox">
            <div class="col-md-12 p-2 border">
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">Ref#</label>
                    <div class="col-6">
                        <!-- <InputBox [(inputModel)]="record.mbl_refno" [maxlength]="refnoMaxLength" [disabled]="refnoDisabled" [uppercase]="true" #refno>
                        </InputBox> -->
                        <input class="form-control form-control-sm" type="text" [maxlength]="refnoMaxLength" [disabled]="refnoDisabled"  (blur)="onBlur('mbl_refno')"
                                        #mbl_refno (focusout)="onFocusout('mbl_refno')" [(ngModel)]="record.mbl_refno" />
                    </div>
                    <label class="col-4 col-form-label col-form-label-sm p-1">{{refnoFormat}}</label>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">RefDate</label>
                    <div class="col-6">
                        <app-date [inputdate]="record.mbl_ref_date" (ValueChanged)="record.mbl_ref_date=$event">
                        </app-date>
                    </div>
                </div>

                <div *ngIf="EXPTYPE=='FA'" class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">MasterRef#</label>
                    <div class="col-6">
                        <!-- <InputBox [(inputModel)]="record.mbl_cargo_loc_name" [maxlength]="15" [disabled]="mode=='EDIT'" [uppercase]="true"
                            #cargo_loc_name>
                        </InputBox> -->
                        <input class="form-control form-control-sm" type="text" [disabled]="mode=='EDIT'"  (blur)="onBlur('mbl_cargo_loc_name')"
                        #cargo_loc_name (focusout)="onFocusout('mbl_cargo_loc_name')" [(ngModel)]="record.mbl_cargo_loc_name"
                        maxlength="15" />
                    </div>
                    <label class="col-4 text-danger col-form-label col-form-label-sm p-1"> {{FALockStatus}}</label>
                </div>

                <div *ngIf="EXPTYPE=='FA'" class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm"></label>
                    <div class="col-6 ">
                        <button class="btn btn-success btn-sm mr-1" (click)="GetHouseDetails(record.mbl_cargo_loc_name)">Fill HBL#</button>
                    </div>
                </div>
                <div *ngIf="EXPTYPE=='FA'" class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">HBL#</label>
                    <div class="col-6 ">
                        <select class="form-control form-control-sm" [(ngModel)]="record.mbl_devan_loc_id" #bltype>
                            <option *ngFor="let rec of HouseList" [value]="rec.obl_hbl_id">{{rec.obl_houseno}}</option>
                          </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">Remarks</label>
                    <div class="col-10">
                        <InputBox [(inputModel)]="record.mbl_remarks" [maxlength]="50" [uppercase]="true" #remarks>
                        </InputBox>
                    </div>
                </div>

            </div>
        </div>
        <div *ngIf="mode=='EDIT'" class="col-md-2  p-1 testbox">
            <div class="col-md-12 p-2 border">
                <div class="form-group row">
                    <button class=" col-12 btn btn-info btn-sm" *ngIf="CanArAp" (click)="BtnNavigation('ARAP')">AR & AP</button>
                </div>

                <div class="form-group row">
                    <button class=" col-12 btn btn-info btn-sm" *ngIf="CanProfitReport" (click)="BtnNavigation('PROFITREPORT')">Profit Report</button>
                </div>
                <div  *ngIf="gs.PAYROLL_ENABLED == 'Y' && EXPTYPE == 'PR'" class="form-group row">
                    <button class=" col-12 btn btn-info btn-sm" *ngIf="CanPayroll" (click)="BtnNavigation('PAYROLLDET')">Payroll</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-footer">
    <div class="row justify-content-center p-1">
        <button class="btn btn-primary btn-md" [disabled]="is_locked" *ngIf="gs.canSave(menuid,mode)" (click)="Save()">Save</button>
    </div>
</div>

<div>
    <label class="col-form-label col-form-label-sm" *ngIf="record.rec_created_by"> CREATED BY:
        {{record.rec_created_by}}
        /
        {{record.rec_created_date}} </label>
</div>