<div class="page-header">
    <div class="col">
      <label>{{title}} ({{mode}})</label>
      <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
    </div>
  </div>
  
  <div *ngIf="errorMessage">
    <div class="alert alert-primary">
      {{errorMessage}}
    </div>
  </div>
  
  <div class="page-body">
  
    <div class="row">
  
      <div class="col-md-10">
  
        <div class="row pt-2">
  
          <!-- First row -->
          <div class="col-md-12 px-0 mx-0">
            <div class="row">
              <div class="col-md-6 testbox  px-0 mx-0">
  
                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Ref#</label>
                  <div class="col-9">
                    <input class="form-control form-control-sm" type="text" (blur)="onBlur('cust_title')"
                      [(ngModel)]="record.cust_title" [disabled]="true" maxlength="15" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">HouseNo</label>
                  <div class="col-9">
                    <app-date [inputdate]="record.cust_title" (ValueChanged)="sdate=$event"></app-date>
                  </div>
                </div>
              </div>
              <div class="col-md-6 testbox  px-0 mx-0">
                
              </div>
            </div>
            <hr>
          </div>
         
  
        </div>
      </div>
      <div class="col-md-2 testbox">
  
        <!-- <div class="col-md-12  px-0 mx-0 py-2">
  
          <div class="form-group row">
            <button class=" col-12 btn btn-primary btn-sm">House Maintenence</button>
          </div>
  
          <div class="form-group row">
            <button class=" col-12 btn btn-primary btn-sm">POD</button>
          </div>
  
          <div class="form-group row">
  
            <button class=" col-12 btn btn-primary btn-sm">Devanning Instruction</button>
          </div>
  
          <div class="form-group row">
            <button class=" col-12 btn btn-primary btn-sm" (click)="BtnNavigation('ARAP')">AR & AP</button>
          </div>
  
          <div class="form-group row">
            <button class=" col-12 btn btn-primary btn-sm">Profit Report</button>
          </div>
  
          <div class="form-group row">
            <button class=" col-12 btn btn-primary btn-sm">Shipment Label</button>
          </div>
  
          <div class="form-group row">
            <button class=" col-12 btn btn-primary btn-sm">Messenger Slip</button>
          </div>
  
          <div class="form-group row">
            <button class=" col-12 btn btn-primary btn-sm">Payment Request</button>
          </div>
  
          <div class="form-group row">
            <button class=" col-12 btn btn-primary btn-sm">Attachments</button>
          </div>
  
          <div class="form-group row">
            <button class=" col-12 btn btn-primary btn-sm">Add To Follow Up</button>
          </div>
          <div class="form-group row">
            <button class=" col-12 btn btn-primary btn-sm">Internal Memo</button>
          </div>
          <div class="form-group row">
            <button class=" col-12 btn btn-primary btn-sm">Request For Approval</button>
          </div>
          <div class="form-group row">
            <button class=" col-12 btn btn-primary btn-sm">Delivery Order</button>
          </div>
  
        </div> -->
  
  
      </div>
  
    </div>
  </div>
  
  
  <div class="page-footer">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm"></label>
          <div class="col-8">
            <button class="btn btn-primary btn-sm mr-1" *ngIf="gs.canSave(menuid,mode)" (click)="Save()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div>
    <label class="col-form-label col-form-label-sm" *ngIf="record.rec_created_by"> CREATED BY: {{record.rec_created_by}} /
      {{record.rec_created_date}} </label>
  </div>