<div class="page-list">
  <div class="page-search">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">From</label>
          <div class="col-8">
            <app-date [inputdate]="searchQuery.fromdate" (ValueChanged)="searchQuery.fromdate=$event">
            </app-date>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">To</label>
          <div class="col-8">
            <app-date [inputdate]="searchQuery.todate" (ValueChanged)="searchQuery.todate=$event">
            </app-date>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">Show</label>
          <div class="col-8">
            <select class="form-control form-control-sm" [(ngModel)]="searchQuery.lock_type">
              <option [value]="'ALL'">ALL</option>
              <option [value]="'LOCKED'">LOCKED</option>
              <option [value]="'UNLOCKED'">UNLOCKED</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">Branch</label>
          <div class="col-8">
            <select class="form-control form-control-sm" [(ngModel)]="searchQuery.branch">
              <option *ngFor="let rec of gs.CompanyList" [value]="rec.comp_code">{{rec.comp_name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">Type</label>
          <div class="col-8">
            <select class="form-control form-control-sm" [(ngModel)]="searchQuery.mode">
              <option [value]="'ALL'">ALL</option>
              <option [value]="'OCEAN EXPORT'">OCEAN EXPORT</option>
              <option [value]="'OCEAN IMPORT'">OCEAN IMPORT</option>
              <option [value]="'AIR EXPORT'">AIR EXPORT</option>
              <option [value]="'AIR IMPORT'">AIR IMPORT</option>
              <option [value]="'OTHERS'">OTHERS</option>
              <option [value]="'ADMIN'">ADMIN</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">Agent</label>
          <div class="col-8">
            <app-autocomplete2 [controlname]="'AGENT'" [tabletype]="'MASTER'" [displaycolumn]="'NAME'"
              [displaydata]="searchQuery.cust_name" (ValueChanged)="LovSelected($event)">
            </app-autocomplete2>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">Ref#</label>
          <div class="col-8">
            <input class="form-control form-control-sm" type="text" [(ngModel)]="searchQuery.searchString" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm"></label>
          <div class="col-8">
            <button (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Search</button>
            <button (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Save</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm"></label>
          <div class="col-8">
            <button (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Instant Lock</button>
            <button (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Instant Unlock</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>