<div class="page-header">
    <div class="row align-items-center justify-content-left p-1">
        <label class="mr-3">{{mainservice.title}}</label>
        <button class="btn btn-primary btn-sm mr-1" *ngIf="mainservice.canAdd" (click)="NewRecord()">New</button>
        <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
    </div>
</div>

<div *ngIf="errorMessage$ | async" class="alert alert-danger">
    {{errorMessage}}
</div>

<app-messengerslip-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)">
</app-messengerslip-header>

<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

<div class="page-body table-responsive">
    <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
            <tr>
                <th>REFNO</th>
                <th>DATE</th>
                <th>TO</th>
                <th>TEL</th>
                <th>FAX</th>
                <th>CREATED-BY</th>
                <th>CREATED-DT</th>
            </tr>
        </thead>
        <tbody class="page-body-tbody">
            <tr *ngFor="let rec of records$ | async">
                <td class='hlink' (click)="edit(rec)">{{rec.cs_refno}}</td>
                <td>{{rec.cs_date | date : gs.FRONTEND_DATEFORMAT }}</td>
                <td>{{rec.cs_to_name}}</td>
                <td>{{rec.cs_to_tel}}</td>
                <td>{{rec.cs_to_fax}}</td>
                <td>{{rec.rec_created_by}}</td>
                <td>{{rec.rec_created_date | date : gs.FRONTEND_DATEFORMAT }}</td>
            </tr>
        </tbody>
    </table>
</div>


<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

<br />