<!-- <div class="page-header">
  <div class="col">
    <label class="mr-1">{{mainservice.title}}</label>
    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
  </div>
</div> -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="followup-tab" data-toggle="tab" href="#followup" role="tab" aria-controls="followup"
      aria-selected="true">Follow Up List</a>
  </li>
  <li *ngIf="_artab" class="nav-item">
    <a class="nav-link" id="arlist-tab" data-toggle="tab" href="#arlist" role="tab" aria-controls="arlist"
      aria-selected="false">Pending A/R List</a>
  </li>
  <li class="nav-item">
    <button class="btn btn-primary btn-sm m-1 p-1" (click)="Close()">Return</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="followup" role="tabpanel" aria-labelledby="followup-tab">



  </div>
  <div class="tab-pane fade" id="arlist" role="tabpanel" aria-labelledby="arlist-tab">

    <div *ngIf="errorMessage$ | async" class="alert alert-danger">
      {{errorMessage$ | async}}
    </div>

    <app-alertlogpage-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)">
    </app-alertlogpage-header>

    <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

    <div class="page-body table-responsive">
      <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
          <tr>
            <th>REFNO</th>
            <th>REF-DATE</th>
            <th>HOUSE</th>
            <th>SHIPMENT TYPE</th>
            <th>ETA</th>
            <th>REMARK</th>
            <th>STATUS</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody">
          <tr *ngFor="let rec of records$ | async">
            <td>{{rec.mbl_refno}}</td>
            <td>{{rec.mbl_ref_date | date : gs.FRONTEND_DATEFORMAT}}</td>
            <td>{{rec.hbl_houseno}}</td>
            <td>{{rec.hbl_bltype}}</td>
            <td>{{rec.mbl_pod_eta | date : gs.FRONTEND_DATEFORMAT}}</td>
            <td>{{rec.mbl_remarks}}</td>
            <td>{{rec.mbl_pending_status}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

    <br />
  </div>
</div>