<div class="page-header">
  <div class="col">
      <label>Payment Request</label>
      <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
  </div>
</div>

<div *ngIf="errorMessage">
  <div class="alert alert-primary">
      {{errorMessage}}
  </div>
</div>

<div class="page-body">
  <div class="row">
      <div class="col-md-6">
          <div class="form-group row">
              <label class="col-2 col-form-label col-form-label-sm">Ref#</label>
              <div class="col-10">
                <InputBox [(ngModel)]="cp_ref_no" [disabled]="true"  maxlength="25"></InputBox>
              </div>
          </div>

      </div>
  </div>
</div>