<div class="page-header">
    <div class="row  align-items-center justify-content-left p-1">
        <label class="mr-1">{{mainservice.title}}</label>
        <button class="btn btn-primary btn-sm mr-1" *ngIf="mainservice.canAdd" (click)="NewRecord()">New</button>
        <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
        <i *ngIf="loading" class="fa fa-spinner"></i>
    </div>
  </div>
  
  <div *ngIf="errorMessage$ | async" class="alert alert-danger">
    {{errorMessage}}
  </div>
  
  <app-oth-generalexpense-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)" ></app-oth-generalexpense-header>
  
  <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>
  
  <div class="page-body table-responsive">
    <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
            <tr>
                <th>REF.NO</th>
                <th>REF.DATE</th>
                <th>ORG.REF#</th>
                <th>HOUSE#</th>
                <th>REMARKS</th>
                <th>AR-TOTAL</th>              
                <th>AP-TOTAL</th>     
                <th>CREATED-BY</th>
                <th>DATE</th>              
            </tr>
        </thead>
        <tbody class="page-body-tbody">
            <tr *ngFor="let rec of records$ | async">
                <td (click)="edit(rec)" >{{rec.mbl_refno}}</td>
                <td>{{rec.mbl_ref_date | date : gs.FRONTEND_DATEFORMAT }}</td>
                <td>{{rec.mbl_cargo_loc_name}}</td>
                <td>{{rec.mbl_devan_loc_name}}</td>
                <td>{{rec.mbl_remarks}}</td>
                <td>{{rec.mbl_ar_total}}</td>              
                <td>{{rec.mbl_ap_total}}</td>
                <td>{{rec.rec_created_by}}</td>
                <td>{{rec.rec_created_date | date : gs.FRONTEND_DATEFORMAT }}</td>
            </tr>
        </tbody>
    </table>
  </div>
  
  
  <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>
  
  <br />
  
  