<div *ngIf="tab=='main'">
    <div class="page-header">
        <div class="col">
            <label class="mr-3">{{mainservice.title}}</label>
            <button class="btn btn-primary btn-sm mr-1" *ngIf="mainservice.canAdd" (click)="NewRecord()">New</button>
            <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
        </div>
    </div>

    <div *ngIf="errorMessage$ | async" class="alert alert-danger">
        {{errorMessage}}
    </div>

    <app-qtnfcl-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)">
    </app-qtnfcl-header>

    <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

    <div class="page-body table-responsive">
        <table class="table  table-hover table-sm">
            <thead class="page-body-thead">
                <tr>
                    <th>QUOTE#</th>
                    <th>DATE</th>
                    <th>QUOTE TO</th>
                    <th>QUOTE BY</th>
                    <th>POL</th>
                    <th>POD</th>
                    <th>MOVE</th>
                    <th>COMMODITY</th>
                    <th style="text-align:center">COPY</th>
                    <th *ngIf="mainservice.canDelete" style="text-align:center">DELETE</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody">
                <tr *ngFor="let rec of records$ | async">
                    <td (click)="edit(rec)">{{rec.qtnm_no}}</td>
                    <td>{{rec.qtnm_date | date : gs.FRONTEND_DATEFORMAT}}</td>
                    <td>{{rec.qtnm_to_name}}</td>
                    <td>{{rec.qtnm_quot_by}}</td>
                    <td>{{rec.qtnm_pol_name}}</td>
                    <td>{{rec.qtnm_pod_name}}</td>
                    <td>{{rec.qtnm_move_type}}</td>
                    <td>{{rec.qtnm_commodity}}</td>
                    <td style="text-align:center"><i class="fa fa-copy  fa-lg pointer" aria-hidden="true"
                            (click)="CopyRecord(rec)"></i></td>
                    <td *ngIf="mainservice.canDelete" style="text-align:center"><i class="fa fa-trash  fa-lg pointer"
                            aria-hidden="true" (click)="mainservice.DeleteRow(rec)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>


    <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

    <br />
</div>
<div *ngIf="tab=='report'">
    <app-report [title]="report_title" [url]="report_url" [searchdata]="report_searchdata" [menuid]="report_menuid"
        (callbackevent)="callbackevent($event)"></app-report>
</div>