<div class="page-header">
  <div class="col">
    <label class="mr-1">{{mainservice.title}}</label>
    <button class="btn btn-primary btn-sm mr-1" *ngIf="mainservice.canAdd" (click)="NewRecord()">New</button>
    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
  </div>
</div>

<div *ngIf="errorMessage$ | async" class="alert alert-danger">
  {{errorMessage}}
</div>

<app-acctm-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)">
</app-acctm-header>

<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

<div class="page-body table-responsive">
  <table class="table  table-hover table-sm">
    <thead class="page-body-thead">
      <tr>
        <th>CODE</th>
        <th>NAME</th>
        <th>GROUP</th>
        <th>TYPE</th>
        <th>CREATED-BY</th>
        <th>DATE</th>
        <th>CLOSED</th>
      </tr>
    </thead>
    <tbody class="page-body-tbody">
      <tr *ngFor="let rec of records$ | async">
        <td class='hlink' (click)="edit(rec)">{{rec.acc_code}}</td>
        <td>{{rec.acc_name}}</td>
        <td>{{rec.acc_group_name}}</td>
        <td>{{rec.acc_type}}</td>
        <td>{{rec.rec_created_by}}</td>
        <td>{{rec.rec_created_date | date : gs.FRONTEND_DATEFORMAT }}</td>
        <td>{{rec.rec_closed}}</td>
      </tr>
    </tbody>
  </table>
</div>

<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

<br />