<div class="page-header">
        <div class="col">
            <label class="mr-3">{{mainservice.title}}</label>
            <!-- <button class="btn btn-primary btn-sm mr-1" *ngIf="mainservice.canAdd" (click)="NewRecord()">New</button> -->
    
            <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
            <i *ngIf="loading" class="fa fa-spinner"></i>
        </div>
    </div>
    
    <div *ngIf="errorMessage$ | async" class="alert alert-danger">
        {{errorMessage}}
    </div>
    
    <app-qtnrate-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)">
    </app-qtnrate-header>
    
    <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>
    
    <div class="page-body table-responsive">
        <table class="table  table-hover table-sm">
            <thead class="page-body-thead">
                <tr>
                    <th>SL#</th>
                    <th>AGENT</th>
                    <th>COUNTRY OF POL</th>
                    <th>COUNTRY OF POD</th>
                    <th>MODE</th>
                    <th>VALIDITY</th>
                    <th>FILE</th>
                    <th>CREATED-BY</th>
                    <th>DATE</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody">
                <tr *ngFor="let rec of records$ | async">
                    <td (click)="edit(rec)">{{rec.qtnr_slno}}</td>
                    <td>{{rec.qtnr_agent_name}}</td>
                    <td>{{rec.qtnr_pol_cntry_name}}</td>
                    <td>{{rec.qtnr_pod_cntry_name}}</td>
                    <td>{{rec.qtnr_mode}}</td>
                    <td >{{rec.qtnr_validity}}</td>
                    <td>{{rec.qtnr_file_name}}</td>
                    <td>{{rec.rec_created_by}}</td>
                    <td>{{rec.rec_created_date | date : gs.FRONTEND_DATEFORMAT }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
    <App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>
    
    <br />