<div *ngIf="gs.IsAuthenticated">

  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand text-white">{{gs.company_name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <div *ngFor="let rech of gs.Modules; ">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{rech.module_name}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div *ngFor="let rec of gs.MenuList" class="menulist">
                <a *ngIf="rech.module_name == rec.module_name && rec.menu_hiden==='N'" class="dropdown-item"
                  (click)="LoadPage(rec)">{{rec.menu_name}}</a>
              </div>
            </div>

          </li>
        </div>
      </ul>

      <form class="form-inline my-2 my-lg-0 text-white">
        <label>{{gs.user_name}}/{{gs.branch_name}}</label>
        <span> |
          <a class="text-white" (click)="Logout()">Logout</a>
        </span>
      </form>
    </div>
  </nav>

</div>