<div class="page-header">
  <div class="col">
    <label>{{title}} ({{mode}})</label>
    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
  </div>
</div>

<div *ngIf="errorMessage">
  <div class="alert alert-primary">
    {{errorMessage}}
  </div>
</div>


<div class="page-body">
  <div class="row">
    <div class="col-md-10">
      <div class="col-md-12 px-0 mx-0">
        <div class="row border">
          <div class="col-md-6 testbox  px-0 mx-0">
            <div class="form-group row">
              <label class="col-3 col-form-label col-form-label-sm">Hbl#</label>
              <div class="col-9">
                <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_houseno')" #hbl_houseno
                  (focusout)="onFocusout('hbl_houseno')" [(ngModel)]="record.hbl_houseno" maxlength="60" />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-3 col-form-label col-form-label-sm">Date</label>
              <div class="col-9">
                <app-date [inputdate]="record.hbl_date" (ValueChanged)="record.hbl_date=$event"></app-date>
              </div>
            </div>
          </div>
          <div class="col-md-6 testbox  px-0 mx-0">
            <div class="form-group row">
              <label class="col-3 col-form-label col-form-label-sm">Ref#</label>
              <div class="col-9">
                <input class="form-control form-control-sm" type="text" (blur)="onBlur('mbl_refno')"
                  [(ngModel)]="record.mbl_refno" [disabled]="true" maxlength="60" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label col-form-label-sm">Stage</label>
              <div class="col-9">
                <select id="Cmb_Shpmnt_Stage" class="form-control form-control-sm"
                  [(ngModel)]="record.hbl_shipment_stage" #hbl_shipment_stage>
                  <option *ngFor="let rec of gs.SHIPMENT_STAGE_OI" [value]="rec.code">{{rec.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>


        <div class="row border">
        <div class="col-md-6 testbox  px-0 mx-0">

          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Shipper</label>
            <div class="col-9">
              <app-autocomplete2 [controlname]="'SHIPPER'" [tabletype]="'MASTER'" [subtype]="'SHIPPER'"
                [displaycolumn]="'CODE'" [displaydata]="record.hbl_shipper_code" #hbl_shipper_code
                (ValueChanged)="LovSelected($event)">
              </app-autocomplete2>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Name</label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_shipper_name')"
                [(ngModel)]="record.hbl_shipper_name" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Address</label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_shipper_add1')"
                [(ngModel)]="record.hbl_shipper_add1" maxlength="60" #hbl_shipper_add1 />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_shipper_add2')"
                [(ngModel)]="record.hbl_shipper_add2" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_shipper_add3')"
                [(ngModel)]="record.hbl_shipper_add3" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_shipper_add4')"
                [(ngModel)]="record.hbl_shipper_add4" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_shipper_add5')"
                [(ngModel)]="record.hbl_shipper_add5" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Consignee</label>
            <div class="col-9">
              <app-autocomplete2 [controlname]="'CONSIGNEE'" [tabletype]="'MASTER'" [subtype]="'CONSIGNEE'"
                [displaycolumn]="'CODE'" [displaydata]="record.hbl_consignee_code" (ValueChanged)="LovSelected($event)"
                #hbl_consignee_code>
              </app-autocomplete2>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Name</label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_consignee_name')"
                [(ngModel)]="record.hbl_consignee_name" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Address</label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_consignee_add1')"
                [(ngModel)]="record.hbl_consignee_add1" maxlength="60" #hbl_consignee_add1 />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_consignee_add2')"
                [(ngModel)]="record.hbl_consignee_add2" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_consignee_add3')"
                [(ngModel)]="record.hbl_consignee_add3" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_consignee_add4')"
                [(ngModel)]="record.hbl_consignee_add4" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_consignee_add5')"
                [(ngModel)]="record.hbl_consignee_add5" maxlength="60" />
            </div>
          </div>

        </div>
        <div class="col-md-6 testbox  px-0 mx-0">
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Cargo Location</label>
            <div class="col-9">
              <app-autocomplete2 [controlname]="'CARGO-LOC'" [tabletype]="'MASTER'" [subtype]="'LOCATION'"
                [displaycolumn]="'CODE'" [displaydata]="record.hbl_location_code" (ValueChanged)="LovSelected($event)">
              </app-autocomplete2>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_location_name')"
                [(ngModel)]="record.hbl_location_name" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_location_add1')"
                [(ngModel)]="record.hbl_location_add1" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_location_add2')"
                [(ngModel)]="record.hbl_location_add2" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_location_add3')"
                [(ngModel)]="record.hbl_location_add3" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_location_add4')"
                [(ngModel)]="record.hbl_location_add4" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Notify To</label>
            <div class="col-9">
              <app-autocomplete2 [controlname]="'NOTIFY-TO'" [tabletype]="'MASTER'" [subtype]="'LOCATION'"
                [displaycolumn]="'CODE'" [displaydata]="record.hbl_notify_code" (ValueChanged)="LovSelected($event)">
              </app-autocomplete2>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_notify_name')"
                [(ngModel)]="record.hbl_notify_name" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_notify_add1')"
                [(ngModel)]="record.hbl_notify_add1" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_notify_add2')"
                [(ngModel)]="record.hbl_notify_add2" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_notify_add3')"
                [(ngModel)]="record.hbl_notify_add3" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm"></label>
            <div class="col-9">
              <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_notify_add4')"
                [(ngModel)]="record.hbl_notify_add4" maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">C/O</label>
            <div class="col-9">
              <app-autocomplete2 [controlname]="'CARE-OF'" [tabletype]="'MASTER'" [displaycolumn]="'NAME'"
                [displaydata]="record.hbl_careof_name" (ValueChanged)="LovSelected($event)">
              </app-autocomplete2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 p-1 testbox">

    <div class="col-md-12 p-2 border">

      <div *ngIf="mode=='EDIT'" class="form-group row">
        <button class=" col-12 btn btn-info btn-sm">Invoice</button>
      </div>

      <div *ngIf="mode=='EDIT'" class="form-group row">
        <button class=" col-12 btn btn-info btn-sm" (click)="GetArrivalNotice('Arrival Notice')">Arrival
          Notice</button>
      </div>

      <div *ngIf="mode=='EDIT'" class="form-group row">
        <button class=" col-12 btn btn-info btn-sm" (click)="GetArrivalNotice('Freight Invoice')">Arrival
          Notice(Frt Invoice)</button>
      </div>

      <div *ngIf="mode=='EDIT'" class="form-group row">
        <button class=" col-12 btn btn-info btn-sm" (click)="GetPreAlert()">Pre-Advice</button>
      </div>

      <div *ngIf="mode=='EDIT'" class="form-group row">
        <button class=" col-12 btn btn-info btn-sm" (click)="GetTurnOver()">Turnover Letter</button>
      </div>

      <div *ngIf="mode=='EDIT'" class="form-group row">
        <button class=" col-12 btn btn-info btn-sm" (click)="BtnNavigation('CARGOPICKUP')">Delivery
          Order</button>
      </div>

      <div *ngIf="mode=='EDIT'" class="form-group row">
        <button class=" col-12 btn btn-info btn-sm" (click)="BtnNavigation('CUSTOMSHOLD')">US Custom
          Hold</button>
      </div>

      <div *ngIf="mode=='EDIT'" class="form-group row">
        <button class=" col-12 btn btn-info btn-sm">Devan/Instructions</button>
      </div>

      <div *ngIf="mode=='EDIT'" class="form-group row">
        <button class=" col-12 btn btn-info btn-sm" (click)="BtnNavigation('SHIPMOVEMENT')">House Internal
          Memo</button>
      </div>

      <div *ngIf="mode=='EDIT'" class="form-group row">
        <button class=" col-12 btn btn-info btn-sm" (click)="BtnNavigation('RIDERPAGE')">Rider Page</button>
      </div>

    </div>

  </div>

</div>
</div>





<div class="page-footer">
  <div class="row row justify-content-center p-1">
    <button class="btn btn-primary btn-md" *ngIf="gs.canSave(menuid,mode)" (click)="Save()">Save</button>
  </div>
</div>

<div>
  <label class="col-form-label col-form-label-sm" *ngIf="record.rec_created_by"> CREATED BY: {{record.rec_created_by}}
    /
    {{record.rec_created_date}} </label>
</div>