<div class="page-header">
  <div class="col">
    <!-- {{mainservice.title}} -->
    <label class="mr-1">EDI</label>
    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
    <button class="btn btn-primary btn-sm mr-1" (click)="ShipData()">Shipment Data</button>
    <button class="btn btn-primary btn-sm mr-1" (click)="SettingPage()">Settings</button>
  </div>
</div>
<div *ngIf="errorMessage$ | async" class="alert alert-danger">
  {{errorMessage$ | async}}
</div>
<app-importhblpage-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)">
</app-importhblpage-header>

<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

<div class="page-body table-responsive">
  <table class="table  table-hover table-sm">
    <thead class="page-body-thead">
      <tr>
        <th>FILE-NAME</th>
        <th>PROCESSED</th>
        <th>REFNO</th>
        <th>UPLOADED-DT</th>
        <th>CREATED-DT</th>
      </tr>
    </thead>
    <tbody class="page-body-tbody">
      <tr *ngFor="let rec of  records$ | async">
        <td class='hlink' (click)="XmlImportData(rec)">{{rec.files_desc}}</td>
        <td>{{rec.files_processed}}</td>
        <td>{{rec.files_ref_no}}</td>
        <td>{{rec.files_uploaded_date | date : gs.FRONTEND_DATEFORMAT}}</td>
        <td>{{rec.files_created_date | date : gs.FRONTEND_DATEFORMAT}}</td>
      </tr>
    </tbody>
  </table>
</div>

<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>
