<div class="page-header">
  <div class="col">
    <label class="mr-1">{{mainservice.title}}</label>
    <button class="btn btn-primary btn-sm mr-1" *ngIf="mainservice.canAdd" (click)="NewRecord()">New</button>
    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
  </div>
</div>

<div *ngIf="errorMessage$ | async as errorMessage" class="alert alert-danger">
  {{errorMessage}}
</div>

<acc-mblusage-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)">
</acc-mblusage-header>

<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

<div class="page-body table-responsive">
  <table class="table  table-hover table-sm">
    <thead class="page-body-thead">
      <tr>
        <th>AGENT</th>
        <th>B/L FROM</th>
        <th>B/L TO</th>
        <th>TOT-BLs</th>
        <th>ORIGIN</th>
        <th>COURIER</th>
        <th>TRACKING#</th>
        <th>SENTON</th>
        <th>REMARK</th>
        <th>CREATED-BY</th>
        <th>CREATE-DT</th>
        <th>DELETE</th>
      </tr>
    </thead>
    <tbody class="page-body-tbody">
      <tr *ngFor="let rec of records$ | async">
        <td (click)="edit(rec)">{{rec.mu_agent_name}}</td>
        <td>{{rec.mu_bl_start_no}} </td>
        <td>{{rec.mu_bl_end_no}} </td>
        <td>{{rec.mu_bl_tot}} </td>
        <td>{{rec.mu_origin}} </td>
        <td>{{rec.mu_courier_name}} </td>
        <td>{{rec.mu_tracking_no}} </td>
        <td>{{rec.mu_sent_on | date : gs.FRONTEND_DATEFORMAT }}</td>
        <td>{{rec.mu_remarks}} </td>
        <td>{{rec.rec_created_by}} </td>
        <td>{{rec.rec_created_date | date : gs.FRONTEND_DATEFORMAT }}</td>
        <td *ngIf="mainservice.canDelete" style="text-align:center"><i class="fa fa-trash  fa-lg pointer"
          aria-hidden="true" (click)="mainservice.DeleteRow(rec)"></i></td>
      </tr>
    </tbody>
  </table>
</div>

<App-Page2 [_pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page2>

<br />