<div class="page-header">
  <div class="col">
    <label>{{title}} ({{mode}})</label>
    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
  </div>
</div>

<div *ngIf="errorMessage">
  <div class="alert alert-primary">
    {{errorMessage}}
  </div>
</div>

<div class="page-body">

  <div class="row">

    <div class="col-md-10">

      <div class="row pt-2">

        <!-- First row -->
        <div class="col-md-12 px-0 mx-0">
          <div class="row">
            <div class="col-md-6 testbox  px-0 mx-0">
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Hbl#</label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('mbl_no')" #mbl_no
                    (focusout)="onFocusout('mbl_no')" [(ngModel)]="record.mbl_no" maxlength="60" />
                </div>
              </div>

              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Date</label>
                <div class="col-9">
                  <app-date [inputdate]="record.mbl_ref_date" (ValueChanged)="sdate=$event"></app-date>
                </div>
              </div>
            </div>
            <div class="col-md-6 testbox  px-0 mx-0">
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Ref#</label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('mbl_refno')"
                    [(ngModel)]="record.mbl_refno" [disabled]="true" maxlength="15" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Stage</label>
                <div class="col-9">
                  <select class="form-control form-control-sm" [(ngModel)]="record.mbl_shipment_stage">
                    <option *ngFor="let rec of gs.SHIPMENT_STAGE_OI" [value]="rec.code">{{rec.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>


        <!-- Second row -->
        <div class="col-md-12 px-0 mx-0">

          <div class="row">
            <div class="col-md-6 testbox  px-0 mx-0">

              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Shipper</label>
                <div class="col-9">
                  <app-autocomplete2 [controlname]="'SHIPPER'" [tabletype]="'MASTER'" [subtype]="'SHIPPER'"
                    [displaycolumn]="'CODE'" [displaydata]="record.hbl_shipper_code"
                    (ValueChanged)="LovSelected($event)">
                  </app-autocomplete2>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Name</label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_shipper_name')"
                    [(ngModel)]="record.hbl_shipper_name" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Address</label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_shipper_add1')"
                    [(ngModel)]="record.hbl_shipper_add1" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_shipper_add2')"
                    [(ngModel)]="record.hbl_shipper_add2" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_shipper_add3')"
                    [(ngModel)]="record.hbl_shipper_add3" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_shipper_add4')"
                    [(ngModel)]="record.hbl_shipper_add4" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_shipper_add5')"
                    [(ngModel)]="record.hbl_shipper_add5" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Consignee</label>
                <div class="col-9">
                  <app-autocomplete2 [controlname]="'CONSIGNEE'" [tabletype]="'MASTER'" [subtype]="'CONSIGNEE'"
                    [displaycolumn]="'CODE'" [displaydata]="record.hbl_consignee_code"
                    (ValueChanged)="LovSelected($event)">
                  </app-autocomplete2>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Name</label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_consignee_name')"
                    [(ngModel)]="record.hbl_consignee_name" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Address</label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_consignee_add1')"
                    [(ngModel)]="record.hbl_consignee_add1" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_consignee_add2')"
                    [(ngModel)]="record.hbl_consignee_add2" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_consignee_add3')"
                    [(ngModel)]="record.hbl_consignee_add3" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_consignee_add4')"
                    [(ngModel)]="record.hbl_consignee_add4" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_consignee_add5')"
                    [(ngModel)]="record.hbl_consignee_add5" maxlength="60" />
                </div>
              </div>

            </div>
            <div class="col-md-6 testbox  px-0 mx-0">
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Cargo Location</label>
                <div class="col-9">
                  <app-autocomplete2 [controlname]="'CARGO-LOC'" [tabletype]="'MASTER'" [subtype]="'LOCATION'"
                    [displaycolumn]="'NAME'" [displaydata]="record.mbl_cargo_loccode"
                    (ValueChanged)="LovSelected($event)">
                  </app-autocomplete2>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('mbl_cargo_locname')"
                    [(ngModel)]="record.mbl_cargo_locname" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('mbl_cargo_locaddr1')"
                    [(ngModel)]="record.mbl_cargo_locaddr1" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('mbl_cargo_locaddr2')"
                    [(ngModel)]="record.mbl_cargo_locaddr2" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('mbl_cargo_locaddr3')"
                    [(ngModel)]="record.mbl_cargo_locaddr3" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('mbl_cargo_locaddr4')"
                    [(ngModel)]="record.mbl_cargo_locaddr4" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Notify To</label>
                <div class="col-9">
                  <app-autocomplete2 [controlname]="'DEVAN-LOC'" [tabletype]="'MASTER'" [subtype]="'LOCATION'"
                    [displaycolumn]="'CODE'" [displaydata]="record.hbl_notify_code"
                    (ValueChanged)="LovSelected($event)">
                  </app-autocomplete2>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_notify_name')"
                    [(ngModel)]="record.hbl_notify_name" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_notify_add1')"
                    [(ngModel)]="record.hbl_notify_add1" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_notify_add2')"
                    [(ngModel)]="record.hbl_notify_add2" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_notify_add3')"
                    [(ngModel)]="record.hbl_notify_add3" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm"></label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_notify_add4')"
                    [(ngModel)]="record.hbl_notify_add4" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">C/O</label>
                <div class="col-9">
                  <app-autocomplete2 [controlname]="'CARGO-LOC'" [tabletype]="'MASTER'" 
                    [displaycolumn]="'NAME'" [displaydata]="record.hbl_careof_name"
                    (ValueChanged)="LovSelected($event)">
                  </app-autocomplete2>
                </div>
              </div>
            </div>
          </div>



          <hr>
          <div class="row">
            <div class="col-md-6 testbox  px-0 mx-0">

              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Agent</label>
                <div class="col-9">

                  <app-autocomplete2 [controlname]="'AGENT'" [tabletype]="'MASTER'" [displaycolumn]="'NAME'"
                    [displaydata]="record.hbl_agent_name" (ValueChanged)="LovSelected($event)">
                  </app-autocomplete2>

                </div>
              </div>


              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">CHB</label>
                <div class="col-9">
                  <app-autocomplete2 [controlname]="'CHA'" [tabletype]="'CHA'" [displaycolumn]="'CODE'"
                    [displaydata]="record.hbl_cha_code" (ValueChanged)="LovSelected($event)">
                  </app-autocomplete2>

                </div>
              </div>

              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Name</label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_cha_name')"
                    [(ngModel)]="record.hbl_cha_name" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Attention</label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_cha_attn')"
                    [(ngModel)]="record.hbl_cha_attn" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Telephone</label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_cha_tel')"
                    [(ngModel)]="record.hbl_cha_tel" maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Fax.</label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_cha_fax')"
                    [(ngModel)]="record.hbl_cha_fax" maxlength="60" />
                </div>
              </div>


              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Delivery.Place</label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_place_delivery')"
                    [(ngModel)]="record.hbl_place_delivery" maxlength="60" />
                </div>
              </div>
            

              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Delivery.Date</label>
                <div class="col-9">
                  <app-date [inputdate]="record.hbl_pld_eta" (ValueChanged)="hbl_pld_eta=$event"></app-date>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Final.Destination</label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('hbl_place_final')"
                    [(ngModel)]="record.hbl_place_final" maxlength="60" />
                </div>
              </div>
            

              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Final.Date</label>
                <div class="col-9">
                  <app-date [inputdate]="record.hbl_plf_eta" (ValueChanged)="hbl_plf_eta=$event"></app-date>
                </div>
              </div>




<!-- 
              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">A/N.Handled.By</label>
                <div class="col-9">

                  <app-autocomplete2 [controlname]="'HANDLEDBY'" [tabletype]="'PARAM'" [subtype]="'SALESMAN'"
                    [displaycolumn]="'NAME'" [displaydata]="record.mbl_handled_name"
                    (ValueChanged)="LovSelected($event)">
                  </app-autocomplete2>


                </div>
              </div>

              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Sales.Rep</label>
                <div class="col-9">

                  <app-autocomplete2 [controlname]="'SALESMAN'" [tabletype]="'PARAM'" [subtype]="'SALESMAN'"
                    [displaycolumn]="'NAME'" [displaydata]="record.mbl_salesman_name"
                    (ValueChanged)="LovSelected($event)">
                  </app-autocomplete2>
                </div>
              </div>

             -->

             


            </div>
            <div class="col-md-6 testbox  px-0 mx-0">


              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Pkgs#</label>
                <div class="col-4">
                    <input class="form-control form-control-sm" type="number"
                        (blur)="onBlur('hbl_packages')" [(ngModel)]="record.hbl_packages"
                        maxlength="15" />
                </div>
                <label class="col-1 col-form-label col-form-label-sm">Unit</label>
                <div class="col-4">
                    <input class="form-control form-control-sm" type="number"
                        (blur)="onBlur('hbl_packages')" [(ngModel)]="record.hbl_packages"
                        maxlength="15" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">KG</label>
                <div class="col-3 pr-0">
                    <input class="form-control form-control-sm" type="number"
                        (blur)="onBlur('hbl_weight')" [(ngModel)]="record.hbl_weight" maxlength="15" />
                </div>
                <div class="col-1 pl-0">
                    <button class="btn btn-primary btn-sm"
                        (click)="FindWeight('Kgs2Lbs')"><span>&gt;</span></button>
                </div>
                <label class="col-1 col-form-label col-form-label-sm">LBS</label>
                <div class="col-3 pr-0">
                    <input class="form-control form-control-sm" type="number" (blur)="onBlur('hbl_lbs')"
                        [(ngModel)]="record.hbl_lbs" maxlength="15" />
                </div>
                <div class="col-1 pl-0">
                    <button class="btn btn-primary btn-sm"
                        (click)="FindWeight('Lbs2Kgs')"><span>&lt;</span> </button>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">CBM</label>
                <div class="col-3 pr-0">
                    <input class="form-control form-control-sm" type="number" (blur)="onBlur('hbl_cbm')"
                        [(ngModel)]="record.hbl_cbm" maxlength="15" />
                </div>
                <div class="col-1 pl-0">
                    <button class="btn btn-primary btn-sm"
                        (click)="FindWeight('Cbm2Cft')"><span>&gt;</span></button>
                </div>
                <label class="col-1 col-form-label col-form-label-sm">CFT</label>
                <div class="col-3 pr-0">
                    <input class="form-control form-control-sm" type="number" (blur)="onBlur('hbl_cft')"
                        [(ngModel)]="record.hbl_cft" maxlength="15" />
                </div>
                <div class="col-1 pl-0">
                    <button class="btn btn-primary btn-sm"
                        (click)="FindWeight('Cft2Cbm')"><span>&lt;</span> </button>
                </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label col-form-label-sm">Description</label>
              <div class="col-9">
                  <input class="form-control form-control-sm" type="text"
                      (blur)="onBlur('hbl_commodity')" [(ngModel)]="record.hbl_commodity"
                      maxlength="15" />
              </div>
          </div>

          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Frt.Status</label>
            <div class="col-9">
              <select class="form-control form-control-sm" [(ngModel)]="record.hbl_frt_status">
                <option *ngFor="let rec of gs.PARAM_FREIGHT_STATUS" [value]="rec.name">{{rec.name}}</option>
              </select>
            </div>
          </div>
          
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Terms</label>
            <div class="col-9">
              <select class="form-control form-control-sm" [(ngModel)]="record.hbl_ship_term_id">
                <option *ngFor="let rec of gs.PARAM_CARGO_MOVEMENT" [value]="rec.code">{{rec.name}}</option>
              </select>
            </div>
          </div>
          
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Type</label>
            <div class="col-9">
              <select class="form-control form-control-sm" [(ngModel)]="record.hbl_bltype">
                <option *ngFor="let rec of gs.PARAM_NOMINATION" [value]="rec.code">{{rec.name}}</option>
              </select>
            </div>
          </div> 

          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">PO#</label>
            <div class="col-9">
                <input class="form-control form-control-sm" type="text"
                    (blur)="onBlur('hbl_pono')" [(ngModel)]="record.hbl_pono"
                    maxlength="15" />
            </div>
        </div>

              <!-- <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Pol</label>
                <div class="col-9">

                  <app-autocomplete2 [controlname]="'POL'" [tabletype]="'SEA PORT'" [displaycolumn]="'NAME'"
                    [displaydata]="record.mbl_pol_name" (ValueChanged)="LovSelected($event)">
                  </app-autocomplete2>

                </div>
              </div>

              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Pol.ETD</label>
                <div class="col-9">
                  <app-date [inputdate]="record.mbl_pol_etd" (ValueChanged)="sdate=$event"></app-date>
                </div>
              </div>


              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Port.Discharge</label>
                <div class="col-9">

                  <app-autocomplete2 [controlname]="'POD'" [tabletype]="'SEA PORT'" [displaycolumn]="'NAME'"
                    [displaydata]="record.mbl_pod_name" (ValueChanged)="LovSelected($event)">
                  </app-autocomplete2>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Pod.ETA</label>
                <div class="col-9">
                  <app-date [inputdate]="record.mbl_pod_eta" (ValueChanged)="sdate=$event"></app-date>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Place.Delivery</label>
                <div class="col-9">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('mbl_place_delivery')"
                    [(ngModel)]="record.mbl_place_delivery" maxlength="60" />
                </div>
              </div>
            

              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Final.ETA</label>
                <div class="col-9">
                  <app-date [inputdate]="record.mbl_pofd_eta" (ValueChanged)="sdate=$event"></app-date>
                </div>
              </div>



              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">Origin.Country</label>
                <div class="col-9">

                  <app-autocomplete2 [controlname]="'COUNTRY'" [tabletype]="'PARAM'" [subtype]="'COUNTRY'"
                    [displaycolumn]="'NAME'" [displaydata]="record.mbl_country_name"
                    (ValueChanged)="LovSelected($event)">
                  </app-autocomplete2>

                </div>
              </div>



              <div class="form-group row">

                <label class="col-3 col-form-label col-form-label-sm">Vessel</label>
                <div class="col-4 pr-0">
                  <input class="form-control form-control-sm" type="text" (blur)="onBlur('mbl_vessel')"
                    [(ngModel)]="record.mbl_vessel" maxlength="60" />
                </div>
                <label class="col-2 col-form-label col-form-label-sm pr-0">Voyage</label>
                <div class="col-3 pl-0">
                  <input class="form-control form-control-sm " type="text" (blur)="onBlur('mbl_voyage')"
                    [(ngModel)]="record.mbl_voyage" maxlength="60" />
                </div>

              </div>

              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">MBL Status</label>
                <div class="col-4 pr-0">
                  <select [disabled]="mode=='EDIT' && this.gs.USER_DISABLE_EDIT_SI_MBLSTATUS=='Y'"
                    class="form-control form-control-sm" [(ngModel)]="record.mbl_status">
                    <option *ngFor="let rec of MblStatusList" [value]="rec.name">{{rec.name}}</option>
                  </select>
                </div>
                <label class="col-2 col-form-label col-form-label-sm">BL Status</label>
                <div class="col-3 pl-0">
                  <select class="form-control form-control-sm" [(ngModel)]="record.mbl_is_sea_waybill">
                    <option *ngFor="let rec of BlStatusList" [value]="rec.name">{{rec.name}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-3 col-form-label col-form-label-sm">OMBL.Sent.Date</label>
                <div class="col-7 pr-0">
                  <app-date [inputdate]="record.mbl_ombl_sent_on" (ValueChanged)="sdate=$event"></app-date>
                </div>
                <div class="col-2 ml-0 pl-0">
                  <select class="form-control form-control-sm" [(ngModel)]="record.mbl_ombl_sent_ampm">
                    <option [value]="'AM'">AM</option>
                    <option [value]="'PM'">PM</option>
                  </select>
                </div>
              </div> -->

            </div>

          </div>
          <hr>
          <!-- <div class="row">
             
              <div class="col-md-6 testbox  px-0 mx-0">
               
              </div>
            </div> -->

          <hr>

          <!-- <div class="row">

            <div class="col-md-12">
              <div class="page-body table-responsive">

                <div class="form-group row">
                  <div class="col-12">
                    <button class="btn btn-primary btn-sm mr-1" (click)="AddRow()">Add Cntr</button>
                    <button class="btn btn-primary btn-sm mr-1" (click)="RemoveRow()">Remove Cntr</button>
                  </div>
                </div>

                <table class="table  table-hover table-sm">
                  <thead class="page-body-thead">
                    <tr>
                      <th>CNTR.NO</th>
                      <th>TYPE</th>
                      <th>SEAL NO</th>
                      <th>PCS</th>
                      <th>UNIT</th>
                      <th>KGS</th>
                      <th *ngIf="this.gs.BRANCH_REGION != 'USA'">TARE-WT</th>
                      <th>CBM</th>
                      <th>PICKUP</th>
                      <th>EMPTY RETURN</th>
                      <th>CNTR MOVEMENT</th>
                    </tr>
                  </thead>
                  <tbody class="page-body-tbody">
                    <tr *ngFor="let rec of records">
                      <td>
                        <input class="form-control form-control-sm" type="text" [(ngModel)]="rec.cntr_no" maxlength="11"
                          (blur)="onBlur('cntr_no',rec)" />
                      </td>
                      <td>
                        <app-autocomplete2 [controlname]="'CONTAINER TYPE'" [displaycolumn]="'CODE'"
                          [tabletype]="'PARAM'" [subtype]="'CONTAINER TYPE'" [uid]="rec.cntr_pkid"
                          [displaydata]="rec.cntr_type" (ValueChanged)="LovSelected($event)">
                        </app-autocomplete2>
                      </td>
                      <td>
                        <input class="form-control form-control-sm" type="text" [(ngModel)]="rec.cntr_sealno"
                          maxlength="25" (blur)="onBlur('cntr_sealno',rec)" />
                      </td>
                      <td>
                        <input class="form-control form-control-sm" type="number" [(ngModel)]="rec.cntr_pieces"
                          (blur)="onBlur('cntr_pieces',rec)" />
                      </td>
                      <td>
                        <input class="form-control form-control-sm" type="text" [(ngModel)]="rec.cntr_packages_uom"
                          maxlength="4" (blur)="onBlur('cntr_packages_uom',rec)" />
                      </td>
                      <td>
                        <input class="form-control form-control-sm" type="number" [(ngModel)]="rec.cntr_weight"
                          (blur)="onBlur('cntr_weight',rec)" />
                      </td>
                      <td *ngIf="this.gs.BRANCH_REGION != 'USA'">
                        <input class="form-control form-control-sm" type="number" [(ngModel)]="rec.cntr_tare_weight"
                          (blur)="onBlur('cntr_tare_weight',rec)" />
                      </td>
                      <td>
                        <input class="form-control form-control-sm" type="number" [(ngModel)]="rec.cntr_cbm"
                          (blur)="onBlur('cntr_cbm',rec)" />
                      </td>
                      <td>
                        <app-date [inputdate]="rec.cntr_pick_date" (ValueChanged)="rec.cntr_pick_date=$event">
                        </app-date>
                      </td>
                      <td>
                        <app-date [inputdate]="rec.cntr_return_date" (ValueChanged)="rec.cntr_return_date=$event">
                        </app-date>
                      </td>
                      <td><i class="fa fa-truck  fa-lg pointer" aria-hidden="true" (click)="ShowCntrMovement()"></i>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div> -->

        </div>

      </div>
    </div>
    <div class="col-md-2 testbox">

      <div class="col-md-12  px-0 mx-0 py-2">

        <div class="form-group row">
          <button class=" col-12 btn btn-primary btn-sm">Invoice</button>
        </div>

        <div class="form-group row">
          <button class=" col-12 btn btn-primary btn-sm">Arrival Notice</button>
        </div>

        <div class="form-group row">

          <button class=" col-12 btn btn-primary btn-sm">Pre-Advice</button>
        </div>

        <div class="form-group row">
          <button class=" col-12 btn btn-primary btn-sm">Turnover Letter</button>
        </div>

        <div class="form-group row">
          <button class=" col-12 btn btn-primary btn-sm">Delivery Order</button>
        </div>

        <div class="form-group row">
          <button class=" col-12 btn btn-primary btn-sm">US Custom Hold</button>
        </div>

        <div class="form-group row">
          <button class=" col-12 btn btn-primary btn-sm">Devan/Instructions</button>
        </div>

        <div class="form-group row">
          <button class=" col-12 btn btn-primary btn-sm">House Internal Memo</button>
        </div>

        <div class="form-group row">
          <button class=" col-12 btn btn-primary btn-sm">Rider Page</button>
        </div>

      </div>

    </div>

  </div>
</div>


<div class="page-footer">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm"></label>
        <div class="col-8">
          <button class="btn btn-primary btn-sm mr-1" *ngIf="gs.canSave(menuid,mode)" (click)="Save()">Save</button>
          <!-- <button class="btn btn-primary btn-sm mr-1" *ngIf="gs.canAdd(menuid)" (click)="NewRecord()">New</button>
            <button class="btn btn-primary btn-sm mr-1" (click)="Close()">{{closeCaption}}</button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <label class="col-form-label col-form-label-sm" *ngIf="record.rec_created_by"> CREATED BY: {{record.rec_created_by}} /
    {{record.rec_created_date}} </label>
</div>