<div *ngIf="tab=='main'">

  <div class="page-header">
    <div class="row  align-items-center justify-content-left p-1">
      <label class="mr-3">{{title}} ({{mode}})</label>
      <button class="btn btn-primary btn-sm mr-1" *ngIf="gs.canAdd(menuid)" (click)="NewRecord()">New</button>
      <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
      <label class="text-danger" *ngIf="is_locked">LOCKED</label>
    </div>

  </div>

  <!-- <div *ngIf="errorMessage">
    <div class="alert alert-primary">
      {{errorMessage}}
    </div>
  </div> -->

  <div *ngIf="errorMessage.length >0">
    <div class="alert alert-success">
      <a (click)="errorMessage=[]" class="close" aria-label="close">&times;</a>
      <ul>
        <li *ngFor="let str of errorMessage">
          <p class="h4"> {{str}}</p>
        </li>
      </ul>
    </div>
  </div>


  <div class="page-body">

    <div class="row">

      <div class="col-md-10 p-1">

        <div class="row border">

          <!-- First row -->
          <div class="col-md-12 px-0 mx-0">
            <div class="row">
              <div class="col-md-6 testbox  px-0 mx-0">

                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Ref#</label>
                  <div class="col-9">
                    <InputBox [(inputModel)]="record.mbl_refno" [maxlength]="15" [uppercase]="true" [disabled]='true'>
                    </InputBox>
                    <!-- <input class="form-control form-control-sm text-danger" type="text"
                    [(ngModel)]="record.mbl_refno"
                    [disabled]="true" maxlength="15" /> -->
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Ref Date</label>
                  <div class="col-9">
                    <app-date #_mbl_ref_date [inputdate]="record.mbl_ref_date" (ValueChanged)="record.mbl_ref_date=$event"></app-date>
                  </div>
                </div>
              </div>
              <div class="col-md-6 testbox  px-0 mx-0">
                <div *ngIf="gs.JOB_TYPE_OE.length>0" class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Job Type</label>
                  <div class="col-9">
                    <select class="form-control form-control-sm" [(ngModel)]="record.mbl_jobtype_id">
                      <option *ngFor="let rec of gs.JOB_TYPE_OE" [value]="rec.code">{{rec.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Stage</label>
                  <div class="col-9">
                    <select class="form-control form-control-sm" [(ngModel)]="record.mbl_shipment_stage">
                      <option *ngFor="let rec of gs.SHIPMENT_STAGE_OE" [value]="rec.code">{{rec.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <!-- Second row -->
          <div class="col-md-12 px-0 mx-0">
            <div class="row">
              <div class="col-md-6 testbox  px-0 mx-0">

                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Mbl#</label>
                  <div class="col-9">
                    <InputBox [(inputModel)]="record.mbl_no" [field]="'mbl_no'" [maxlength]="60" [uppercase]="true"
                      (blur)="onBlur($event)" #mbl_no></InputBox>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Sub-House</label>
                  <div class="col-9">
                    <InputBox [(inputModel)]="record.mbl_sub_houseno" [field]="'mbl_sub_houseno'" [maxlength]="60"
                      [uppercase]="true" (blur)="onBlur($event)"></InputBox>
                  </div>
                </div>


                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Booking No</label>
                  <div class="col-9">
                    <InputBox [(inputModel)]="record.mbl_liner_bookingno" [field]="'mbl_liner_bookingno'"
                      [maxlength]="60" [uppercase]="true" (blur)="onBlur($event)" #mbl_liner_bookingno></InputBox>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Master Agent</label>
                  <div class="col-9">
                    <app-autocomplete2 [controlname]="'AGENT'" [tabletype]="'MASTER'" [displaycolumn]="'NAME'"
                      [displaydata]="record.mbl_agent_name" (ValueChanged)="LovSelected($event)">
                    </app-autocomplete2>
                  </div>
                </div>


                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Carrier</label>
                  <div class="col-9">

                    <app-autocomplete2 #_mbl_liner_name [controlname]="'CARRIER'" [tabletype]="'SEA CARRIER'" [displaycolumn]="'NAME'"
                      [displaydata]="record.mbl_liner_name" (ValueChanged)="LovSelected($event)">
                    </app-autocomplete2>

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Handled.By</label>
                  <div class="col-9">

                    <app-autocomplete2 #_mbl_handled_name [controlname]="'HANDLEDBY'" [tabletype]="'PARAM'" [subtype]="'SALESMAN'"
                      [displaycolumn]="'NAME'" [displaydata]="record.mbl_handled_name"
                      (ValueChanged)="LovSelected($event)">
                    </app-autocomplete2>


                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Sales.Rep</label>
                  <div class="col-9">

                    <app-autocomplete2 #_mbl_salesman_name [controlname]="'SALESMAN'" [tabletype]="'PARAM'" [subtype]="'SALESMAN'"
                      [displaycolumn]="'NAME'" [displaydata]="record.mbl_salesman_name"
                      (ValueChanged)="LovSelected($event)">
                    </app-autocomplete2>



                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Frt.Status</label>
                  <div class="col-9">
                    <select #_mbl_frt_status class="form-control form-control-sm" [(ngModel)]="record.mbl_frt_status">
                      <option *ngFor="let rec of gs.PARAM_FREIGHT_STATUS" [value]="rec.name">{{rec.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Shipping Term</label>
                  <div class="col-9">
                    <select class="form-control form-control-sm" [(ngModel)]="record.mbl_ship_term_id">
                      <option *ngFor="let rec of gs.PARAM_CARGO_MOVEMENT" [value]="rec.code">{{rec.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Shipping Type</label>
                  <div class="col-9">
                    <select class="form-control form-control-sm" [(ngModel)]="record.mbl_cntr_type">
                      <option [value]="'FCL'">FCL</option>
                      <option [value]="'LCL'">LCL</option>
                      <option [value]="'CONSOLE'">CONSOLE</option>
                      <option [value]="'OTHERS'">OTEHRS</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm"></label>
                  <div class="col-9">
                    <input type="checkbox" [(ngModel)]="record.mbl_direct_bool" />
                    <span>Direct Shipment</span>
                  </div>
                </div>



              </div>
              <div class="col-md-6 testbox  px-0 mx-0">


                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Place.Receipt</label>
                  <div class="col-9">
                    <InputBox [(inputModel)]="record.mbl_por" [field]="'mbl_por'" [maxlength]="60" [uppercase]="true"
                      (blur)="onBlur($event)"></InputBox>
                  </div>
                </div>



                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Pol</label>
                  <div class="col-9">

                    <app-autocomplete2 [controlname]="'POL'" [tabletype]="'SEA PORT'" [displaycolumn]="'NAME'"
                      [displaydata]="record.mbl_pol_name" (ValueChanged)="LovSelected($event)">
                    </app-autocomplete2>

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Pol.ETD</label>
                  <div class="col-9">
                    <app-date #_mbl_pol_etd [inputdate]="record.mbl_pol_etd" (ValueChanged)="record.mbl_pol_etd=$event"></app-date>
                  </div>
                </div>


                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Port.Discharge</label>
                  <div class="col-9">

                    <app-autocomplete2 [controlname]="'POD'" [tabletype]="'SEA PORT'" [displaycolumn]="'NAME'"
                      [displaydata]="record.mbl_pod_name" (ValueChanged)="LovSelected($event)">
                    </app-autocomplete2>


                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Pod.ETA</label>
                  <div class="col-9">
                    <app-date #_mbl_pod_eta [inputdate]="record.mbl_pod_eta" (ValueChanged)="record.mbl_pod_eta=$event"></app-date>
                  </div>
                </div>


                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Port.Final</label>
                  <div class="col-9">
                    <app-autocomplete2 [controlname]="'POFD'" [tabletype]="'SEA PORT'" [displaycolumn]="'NAME'"
                      [displaydata]="record.mbl_pofd_name" (ValueChanged)="LovSelected($event)">
                    </app-autocomplete2>


                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Final.ETA</label>
                  <div class="col-9">
                    <app-date #_mbl_pofd_eta [inputdate]="record.mbl_pofd_eta" (ValueChanged)="record.mbl_pofd_eta=$event"></app-date>
                  </div>
                </div>



                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Dest.Country</label>
                  <div class="col-9">

                    <app-autocomplete2 [controlname]="'COUNTRY'" [tabletype]="'PARAM'" [subtype]="'COUNTRY'"
                      [displaycolumn]="'NAME'" [displaydata]="record.mbl_country_name"
                      (ValueChanged)="LovSelected($event)">
                    </app-autocomplete2>

                  </div>
                </div>

                <div>

                  <div class="form-group row">

                    <label class="col-3 col-form-label col-form-label-sm">Vessel</label>
                    <div class="col-4 pr-0">


                      <InputBox #_mbl_vessel [(inputModel)]="record.mbl_vessel" [field]="'mbl_vessel'" [maxlength]="60"
                        [uppercase]="true" (blur)="onBlur($event)"></InputBox>

                    </div>
                    <label class="col-2 col-form-label col-form-label-sm pr-0">Voyage</label>
                    <div class="col-3 pl-0">
                      <InputBox [(inputModel)]="record.mbl_voyage" [field]="'mbl_voyage'" [maxlength]="60"
                        [uppercase]="true" (blur)="onBlur($event)"></InputBox>

                    </div>

                  </div>

                </div>

                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">Book.SL#</label>
                  <div class="col-4 pr-0">

                    <InputBoxNumber [(inputModel)]="record.mbl_booking_slno" [field]="'mbl_booking_slno'" [dec]="0"
                      [maxlength]="15" (blur)="onBlur($event)"></InputBoxNumber>


                  </div>
                  <label class="col-2 col-form-label col-form-label-sm">Rotation#</label>
                  <div class="col-3 pl-0">
                    <InputBoxNumber [(inputModel)]="record.mbl_rotation_no" [field]="'mbl_rotation_no'" [dec]="0"
                      [maxlength]="15" (blur)="onBlur($event)"></InputBoxNumber>

                  </div>
                </div>

                <div *ngIf="gs.PARAM_COO_FORMAT_BLANK.length > 1" class="form-group row">
                  <label class="col-3 col-form-label col-form-label-sm">COO</label>
                  <div class="col-4 pr-0">
                    <select class="form-control form-control-sm" [(ngModel)]="record.mbl_cooformat_id" #mbl_cootype>
                      <option *ngFor="let rec of gs.PARAM_COO_FORMAT_BLANK" [value]="rec.code">{{rec.name}}</option>
                    </select>
                  </div>
                </div>


              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-12  px-0 mx-0">
            <div class="page-body table-responsive">



              <table class="table  table-hover table-sm">
                <thead class="page-body-thead">
                  <tr>
                    <th>CNTR.NO</th>
                    <th>TYPE</th>
                    <th>SEAL NO</th>
                    <th>PCS</th>
                    <th>UNIT</th>
                    <th>WEIGHT</th>
                    <th>CBM</th>
                    <th>TARE-WT</th>
                    <th class='text-center'>REMOVE</th>
                  </tr>
                </thead>
                <tbody class="page-body-tbody">
                  <tr *ngFor="let rec of records">
                    <td class="p-0">
                      <InputBox #_cntr_no [(inputModel)]="rec.cntr_no" [field]="'cntr_no'" [maxlength]="11" [uppercase]="true"
                        (blur)="onBlur($event)"></InputBox>
                    </td>
                    <td class="p-0">
                      <app-autocomplete2 [controlname]="'CONTAINER TYPE'" [displaycolumn]="'CODE'" [tabletype]="'PARAM'"
                        [subtype]="'CONTAINER TYPE'" [uid]="rec.cntr_pkid" [displaydata]="rec.cntr_type"
                        (ValueChanged)="LovSelected($event)">
                      </app-autocomplete2>
                    </td>
                    <td class="p-0">
                      <InputBox  #_cntr_sealno [(inputModel)]="rec.cntr_sealno" [field]="'cntr_sealno'" [maxlength]="25"
                        [uppercase]="true" (blur)="onBlur($event)"></InputBox>
                    </td>
                    <td class="p-0">
                      <InputBoxNumber [(inputModel)]="rec.cntr_pieces" [field]="'cntr_pieces'" [dec]="0"
                        [maxlength]="15" (blur)="onBlur($event)"></InputBoxNumber>
                    </td>
                    <td class="p-0">
                      <InputBox [(inputModel)]="rec.cntr_packages_uom" [field]="'cntr_packages_uom'" [maxlength]="4"
                        [uppercase]="true" (blur)="onBlur($event)"></InputBox>
                    </td>
                    <td class="p-0">
                      <InputBoxNumber [(inputModel)]="rec.cntr_weight" [field]="'cntr_weight'" [dec]="3"
                        [maxlength]="15" (blur)="onBlur($event)"></InputBoxNumber>
                    </td>
                    <td class="p-0">
                      <InputBoxNumber [(inputModel)]="rec.cntr_cbm" [field]="'cntr_cbm'" [dec]="3" [maxlength]="15"
                        (blur)="onBlur($event)"></InputBoxNumber>
                    </td>
                    <td class="p-0">
                      <InputBoxNumber [(inputModel)]="rec.cntr_tare_weight" [field]="'cntr_tare_weight'" [dec]="3"
                        [maxlength]="15" (blur)="onBlur($event)"></InputBoxNumber>
                    </td>
                    <td class="p-0 text-center"><i class="fa fa-trash  fa-lg pointer" aria-hidden="true"
                        (click)="RemoveRow(rec)"></i></td>
                  </tr>
                </tbody>
              </table>

              <div class="form-group row">
                <div class="col-12 pl-1 pb-1">
                  <button class="btn btn-success btn-sm mr-1" [disabled]="is_locked" (click)="AddRow()">Add Cntr</button>
                  <button class="btn btn-success btn-sm mr-1" [disabled]="is_locked" (click)="BtnNavigation('COPY-CNTR')">Copy Cntr to
                    House</button>
                  <button class="btn btn-success btn-sm mr-1" (click)="CopyCntrClipboard()">Copy Containers</button>
                </div>
              </div>

            </div>
          </div>

        </div>

        <hr>

        <div *ngIf="mode=='EDIT'" class="row">

          <div class="col-md-12  px-0 mx-0">
            <div class="page-body table-responsive">


              <table class="table  table-hover table-sm">
                <thead class="page-body-thead">
                  <tr>
                    <th>HOUSE</th>
                    <th>SHIPPER</th>
                    <th>CONSIGNEE</th>
                    <th>PCS</th>
                    <th>HANDLED-BY</th>
                    <th>FREIGHT</th>
                    <th>TERMS</th>
                    <th>CREATED-BY</th>
                    <th>DATE</th>
                  </tr>
                </thead>
                <tbody class="page-body-tbody">
                  <tr *ngFor="let rec of hrecords">
                    <td class='hlink' (click)="EditHouse(rec)">{{rec.hbl_houseno}}</td>
                    <td>{{rec.hbl_shipper_name}}</td>
                    <td>{{rec.hbl_consignee_name}}</td>
                    <td>{{rec.hbl_packages}}</td>
                    <td>{{rec.hbl_handled_name}}</td>
                    <td>{{rec.hbl_frt_status}}</td>
                    <td>{{rec.hbl_ship_term}}</td>
                    <td>{{rec.rec_created_by}}</td>
                    <td>{{rec.rec_created_date | date : gs.FRONTEND_DATEFORMAT }}</td>
                  </tr>
                </tbody>
              </table>

              <div class="form-group row">
                <div class="col-12 pl-0 pb-1">
                  <button *ngIf="gs.screenExists(gs.MENU_SE_HOUSE)"  class="btn btn-success btn-sm mr-1"  [disabled]="is_locked"
                    (click)="AddHouse()">Add House</button>
                </div>
              </div>


            </div>
          </div>

        </div>



      </div>

      <div class="col-md-2 p-1 testbox">

        <div *ngIf="mode=='EDIT'" class="col-md-12 p-2 border">

          <div class="form-group row">
            <button class="col-12 btn  btn-info btn-sm text-uppercase" *ngIf="gs.screenExists(gs.MENU_SE_BOOKING)"
              (click)="BtnNavigation('BOOKING')">Booking</button>
          </div>

          <div class="form-group row">
            <button class=" col-12 btn  btn-info btn-sm text-uppercase " *ngIf="gs.screenExists(gs.MENU_SE_MASTER_MBL_INSTRUCTION)"
              (click)="BtnNavigation('MBLPAGE')">MBL Instruction</button>
          </div>

          <div class="form-group row">
            <button class=" col-12 btn btn-info btn-sm text-uppercase " *ngIf="gs.screenExists(gs.MENU_SE_MASTER_DOCK_RECEIPT)"
              (click)="BtnNavigation('DOCKPAGE')">Dock Receipt</button>
          </div>

          <div class="form-group row">

            <button class=" col-12 btn btn-info btn-sm text-uppercase " *ngIf="gs.screenExists(gs.MENU_SE_MASTER_MANIFEST)"
              (click)="BtnNavigation('MANIFEST')">Manifest</button>

          </div>

          <div class="form-group row">
            <button class=" col-12 btn btn-info btn-sm text-uppercase " *ngIf="gs.screenExists(gs.MENU_SE_MASTER_ARAP)"
              (click)="BtnNavigation('ARAP')">AR & AP</button>
          </div>

          <div class="form-group row">
            <button class=" col-12 btn btn-info btn-sm text-uppercase " *ngIf="gs.screenExists(gs.MENU_SE_MASTER_PROFIT_REPORT)"
              (click)="BtnNavigation('PROFITREPORT')">Profit Report</button>
          </div>

          <div class="form-group row">
            <button class=" col-12 btn btn-info btn-sm text-uppercase " *ngIf="gs.screenExists(gs.MENU_SHIPMENT_LABEL)"
              (click)="BtnNavigation('SHIP-LABEL-PRINT')">Shipment Label</button>
          </div>

          <div class="form-group row">
            <button class=" col-12 btn btn-info btn-sm text-uppercase " *ngIf="gs.screenExists(gs.MENU_SE_MESSENGER_SLIP)"
              (click)="BtnNavigation('MESSENGER-SLIP')">Messenger
              Slip</button>
          </div>


          <div class="form-group row">
            <button class=" col-12 btn btn-info btn-sm text-uppercase " *ngIf="gs.screenExists(gs.MENU_SE_PAYMENT_REQUEST)"
              (click)="BtnNavigation('PAYMENT-REQUEST')">Payment
              Request</button>
          </div>

          <div class="form-group row">
            <button class=" col-12 btn btn-info btn-sm text-uppercase " *ngIf="gs.screenExists(gs.MENU_SE_ATTACHMENTS)"
              [style.color]="record.rec_files_attached=='Y'?'red':'white'"
              (click)="BtnNavigation('ATTACHMENT',attachmodal)">Attachments</button>
          </div>

          <div class="form-group row">
            <button class=" col-12 btn btn-info btn-sm text-uppercase " *ngIf="gs.screenExists(gs.MENU_SE_MASTER)"
              (click)="BtnNavigation('FOLLOWUP')">Add To Follow Up</button>
          </div>
          <div class="form-group row">
            <button class=" col-12 btn btn-info btn-sm text-uppercase " *ngIf="gs.screenExists(gs.MENU_SE_MASTER_INTERNAL_MEMO)"
              [style.color]="record.mbl_ismemo_attached=='Y'?'red':'white'"
              (click)="BtnNavigation('INERNALMEMO')">Internal Memo</button>
          </div>
          <div class="form-group row">
            <button class=" col-12 btn btn-info btn-sm text-uppercase " *ngIf="gs.screenExists(gs.MENU_SE_MASTER_REQUEST_APPROVAL)"
              (click)="BtnNavigation('REQUEST-APPROVAL')">Request For
              Approval</button>
          </div>
          <div class="form-group row">
            <button class=" col-12 btn btn-info btn-sm text-uppercase " *ngIf="gs.screenExists(gs.MENU_SE_MASTER_CERTIFICATE_ORIGIN)"
              (click)="BtnNavigation('CERTIFICATE-ORIGIN')">Certificate Of Origin</button>
          </div>

        </div>


      </div>

    </div>

  </div>


  <div class="page-footer">
    <div class="row justify-content-center p-1">
      <button class="btn btn-primary btn-md" [disabled]="is_locked" *ngIf="gs.canSave(menuid,mode)"
        (click)="Save()">Save</button>
    </div>
  </div>

  <div class="page-footer">
    <label class="col-form-label col-form-label-sm" *ngIf="record.rec_created_by"> CREATED BY: {{record.rec_created_by}}
      /
      {{record.rec_created_date}} </label>
  </div>

</div>

<div *ngIf="tab=='report'">
  <app-report [title]="report_title" [url]="report_url" [searchdata]="report_searchdata" [menuid]="report_menuid"
    (callbackevent)="callbackevent($event)"></app-report>
</div>

<ng-template #attachmodal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="page-body">
      <div class="row">
        <div class="col-md-12 testbox  px-0 mx-0">
          <app-fileupload [title]="attach_title" [parentid]="attach_parentid" [subid]="attach_subid"
            [type]="attach_type" [typelist]="attach_typelist" [tablename]="attach_tablename"
            [tablepkcolumn]="attach_tablepkcolumn" [refno]="attach_refno" [customername]="attach_customername"
            [updatecolumn]="attach_updatecolumn" [viewonlysource]="attach_viewonlysource"
            [viewonlyid]="attach_viewonlyid" [filespath]="attach_filespath" [filespath2]="attach_filespath2"
            [modalview]="true" (callbackevent)="callbackevent($event)"></app-fileupload>
        </div>
      </div>
      <div class="page-footer">
        <div class="row justify-content-center p-1">
          <button class="btn btn-primary btn-md" (click)="CloseModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>