<div *ngIf="tab=='main'">
    <div class="page-header">
        <div class="col">
            <label class="mr-3">{{title}} ({{mode}})</label>
            <button class="btn btn-primary btn-sm mr-1" *ngIf="gs.canAdd(menuid)" (click)="NewRecord()">New</button>
            <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
        </div>
    </div>

    <div *ngIf="errorMessage">
        <div class="alert alert-primary">
            {{errorMessage}}
        </div>
    </div>

    <div class="page-body">
        <div class="row">
            <div class="col-md-10  p-1">
                <div class="row">

                    <!-- First row -->
                    <div class="col-md-12 px-0 mx-0">
                        <div class="row border">
                            <div class="col-md-6 testbox  px-0 mx-0">

                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Code</label>
                                    <div class="col-10">
                                        <InputBox [(inputModel)]="record.gen_code" maxlength="6" [uppercase]="true"
                                            #_gen_code>
                                        </InputBox>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Name</label>
                                    <div class="col-10">
                                        <InputBox [(inputModel)]="record.gen_short_name" maxlength="60"
                                            [uppercase]="true" #_gen_short_name>
                                        </InputBox>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">OfficialName</label>
                                    <div class="col-10">
                                        <InputBox [(inputModel)]="record.gen_name" maxlength="60" [uppercase]="true"
                                            #_gen_name>
                                        </InputBox>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Parent</label>
                                    <div class="col-10">
                                        <app-autocomplete2 [controlname]="'PARENT'" [tabletype]="'OVERSEAAGENT'"
                                            [displaycolumn]="'NAME'" [displaydata]="record.gen_parent_name"
                                            (ValueChanged)="LovSelected($event)">
                                        </app-autocomplete2>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Address</label>
                                    <div class="col-10">
                                        <InputBox [(inputModel)]="record.gen_address1" maxlength="60" [uppercase]="true"
                                            #_gen_address1>
                                        </InputBox>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm"></label>
                                    <div class="col-10">
                                        <InputBox [(inputModel)]="record.gen_address2" maxlength="60" [uppercase]="true"
                                            #_gen_address2>
                                        </InputBox>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm"></label>
                                    <div class="col-10">
                                        <InputBox [(inputModel)]="record.gen_address3" maxlength="60" [uppercase]="true"
                                            #_gen_address3>
                                        </InputBox>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">City</label>
                                    <div class="col-10">
                                        <InputBox [(inputModel)]="record.gen_location" maxlength="60" [uppercase]="true"
                                            #_gen_location>
                                        </InputBox>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">State</label>
                                    <div class="col-10">
                                        <InputBox [(inputModel)]="record.gen_state" maxlength="60" [uppercase]="true"
                                            #_gen_state>
                                        </InputBox>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Country</label>
                                    <div class="col-10">
                                        <app-autocomplete2 [controlname]="'COUNTRY'" [tabletype]="'PARAM'"
                                            [subtype]="'COUNTRY'" [displaycolumn]="'NAME'"
                                            [displaydata]="record.gen_country_name"
                                            (ValueChanged)="LovSelected($event)">
                                        </app-autocomplete2>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">ZipCode</label>
                                    <div class="col-10  input-group input-group-sm">
                                        <!-- <InputBox [(inputModel)]="record.gen_pincode" maxlength="30" [uppercase]="true"
                                            #_gen_pincode>
                                        </InputBox> -->
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="record.gen_pincode" (blur)="onBlur('gen_pincode')"
                                            maxlength="30" />
                                        <button (click)="List('SCREEN')" class="btn btn-success btn-sm mr-1">Set
                                            Address</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Contact</label>
                                    <div class="col-10">
                                        <InputBox [(inputModel)]="record.gen_contact" maxlength="60" [uppercase]="true"
                                            #_gen_contact>
                                        </InputBox>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Title</label>
                                    <div class="col-10">
                                        <InputBox [(inputModel)]="record.gen_title" maxlength="60" [uppercase]="true"
                                            #_gen_location>
                                        </InputBox>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Tel</label>
                                    <div class="col-10">
                                        <InputBox [(inputModel)]="record.gen_tel" maxlength="60" [uppercase]="true"
                                            #_gen_location>
                                        </InputBox>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Fax</label>
                                    <div class="col-10">
                                        <InputBox [(inputModel)]="record.gen_fax" maxlength="30" [uppercase]="true"
                                            #_gen_location>
                                        </InputBox>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Mobile</label>
                                    <div class="col-10">
                                        <InputBox [(inputModel)]="record.gen_mobile" maxlength="60" [uppercase]="true"
                                            #_gen_location>
                                        </InputBox>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">web</label>
                                    <div class="col-10">
                                        <InputBox [(inputModel)]="record.gen_web" maxlength="100" [uppercase]="true"
                                            #_gen_location>
                                        </InputBox>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Email</label>
                                    <div class="col-10">
                                        <InputBox [(inputModel)]="record.gen_email" maxlength="60" [uppercase]="true"
                                            #_gen_location>
                                        </InputBox>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Refer BY</label>
                                    <div class="col-10">
                                        <InputBox [(inputModel)]="record.gen_refer_by" maxlength="60" [uppercase]="true"
                                            #_gen_location>
                                        </InputBox>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Sales.Rep</label>
                                    <div class="col-10">
                                        <app-autocomplete2 [controlname]="'SALESMAN'" [tabletype]="'PARAM'"
                                            [subtype]="'SALESMAN'" [displaycolumn]="'NAME'"
                                            [displaydata]="record.gen_salesman_name"
                                            (ValueChanged)="LovSelected($event)">
                                        </app-autocomplete2>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Handled.By</label>
                                    <div class="col-10">

                                        <app-autocomplete2 [controlname]="'HANDLEDBY'" [tabletype]="'PARAM'"
                                            [subtype]="'SALESMAN'" [displaycolumn]="'NAME'"
                                            [displaydata]="record.gen_handled_name"
                                            (ValueChanged)="LovSelected($event)">
                                        </app-autocomplete2>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">Location</label>
                                    <div class="col-10">
                                        <select class="form-control form-control-sm"
                                            [(ngModel)]="record.gen_handled_loc_id">
                                            <option *ngFor="let rec of locationList" [value]="rec.comp_pkid">
                                                {{rec.comp_name}}</option>
                                        </select>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 px-0 mx-0 border">
                        <div class="row">
                            <label
                                class="col-12  pr-0 col-form-label col-form-label-sm"><strong>Category</strong></label>
                            <div class="col-md-3 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Shipper (S)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Consignee (C)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Importer (I)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Exporter (X)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Customs Broker
                                                (B)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Domestic Forwarder
                                                (F)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Overseas Agent
                                                (A)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Air Carrier (L)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Sea Carrier (R)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Trucker (T)</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-3 testbox  px-0 mx-0">

                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Warehouse (W)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Terminal Sea / Rail
                                                (N)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Terminal Air (P)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Shipping Vendor
                                                (H)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>General Vendor
                                                (G)</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Employees (E)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Contractor (O)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Miscellaneous (M)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>TBD (D)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Bank / Financial
                                                Institue (K)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <label class="col-4 col-form-label col-form-label-sm">ClientType</label>
                                    <div class="col-8">
                                        <select class="form-control form-control-sm"
                                            [(ngModel)]="record.gen_handled_loc_id">
                                            <option *ngFor="let rec of locationList" [value]="rec.comp_pkid">
                                                {{rec.comp_name}}</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <label class="col-4 col-form-label col-form-label-sm">VendorPriority</label>
                                    <div class="col-8">
                                        <select class="form-control form-control-sm"
                                            [(ngModel)]="record.gen_handled_loc_id">
                                            <option *ngFor="let rec of locationList" [value]="rec.comp_pkid">
                                                {{rec.comp_name}}</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <label class="col-4 col-form-label col-form-label-sm">Criteria/Min.Profit</label>
                                    <div class="col-8 input-group input-group-sm">
                                        <select class="form-control form-control-sm"
                                            [(ngModel)]="record.gen_handled_loc_id">
                                            <option *ngFor="let rec of locationList" [value]="rec.comp_pkid">
                                                {{rec.comp_name}}</option>
                                        </select>
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="record.gen_pincode" (blur)="onBlur('gen_pincode')"
                                            maxlength="30" />
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>

                    <div class="col-md-12 px-0 mx-0 border">
                        <div class="row">
                            <div class="col-md-6 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">FirmCode</label>
                                    <div class="col-4">
                                        <InputBox [(inputModel)]="record.gen_code" maxlength="6" [uppercase]="true"
                                            #_gen_code2>
                                        </InputBox>
                                    </div>
                                    <label class="col-2 col-form-label col-form-label-sm">EIN/IRS/SS#</label>
                                    <div class="col-4">
                                        <InputBox [(inputModel)]="record.gen_code" maxlength="6" [uppercase]="true"
                                            #_gen_code4>
                                        </InputBox>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">CreditDays</label>
                                    <div class="col-4">
                                        <InputBox [(inputModel)]="record.gen_code" maxlength="6" [uppercase]="true"
                                            #_gen_code2>
                                        </InputBox>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>Credit/Special
                                                Account</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="record.gen_handled_name"><span>C-TPAT Certified</span>
                                        </div>
                                    </div>
                                    <label class="col-2 col-form-label col-form-label-sm">C-TPAT#</label>
                                    <div class="col-4">
                                        <InputBox [(inputModel)]="record.gen_code" maxlength="6" [uppercase]="true"
                                            #_gen_code2>
                                        </InputBox>
                                    </div>

                                </div>
                                <div class="form-group row">
                                        
                                        <label class="col-2 col-form-label col-form-label-sm">Memo</label>
                                        <div class="col-10">
                                            <InputBox [(inputModel)]="record.gen_code" maxlength="6" [uppercase]="true"
                                                #_gen_code2>
                                            </InputBox>
                                        </div>
    
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- Second row -->
                    <!-- <div class="col-md-12 px-0 mx-0">
                        <div class="row border">
                            <div class="col-md-6 testbox  px-0 mx-0">

                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm">Mawb#</label>
                                    <div class="col-9">
                                        <input class="form-control form-control-sm" type="text"
                                            (blur)="onBlur('mbl_no')" #mbl_no (focusout)="onFocusout('mbl_no')"
                                            [(ngModel)]="record.mbl_no" maxlength="11" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm">Master Agent</label>
                                    <div class="col-9">

                                        <app-autocomplete2 [controlname]="'AGENT'" [tabletype]="'MASTER'"
                                            [displaycolumn]="'NAME'" [displaydata]="record.mbl_agent_name"
                                            (ValueChanged)="LovSelected($event)">
                                        </app-autocomplete2>

                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm">Pol</label>
                                    <div class="col-9">

                                        <app-autocomplete2 [controlname]="'POL'" [tabletype]="'AIR PORT'"
                                            [displaycolumn]="'NAME'" [displaydata]="record.mbl_pol_name"
                                            (ValueChanged)="LovSelected($event)">
                                        </app-autocomplete2>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm">Pol.ETD</label>
                                    <div class="col-9">
                                        <app-date [inputdate]="record.mbl_pol_etd"
                                            (ValueChanged)="record.mbl_pol_etd=$event"></app-date>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm">Port.Discharge</label>
                                    <div class="col-9">

                                        <app-autocomplete2 [controlname]="'POD'" [tabletype]="'AIR PORT'"
                                            [displaycolumn]="'NAME'" [displaydata]="record.mbl_pod_name"
                                            (ValueChanged)="LovSelected($event)">
                                        </app-autocomplete2>


                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm">Pod.ETA</label>
                                    <div class="col-9">
                                        <app-date [inputdate]="record.mbl_pod_eta"
                                            (ValueChanged)="record.mbl_pod_eta=$event"></app-date>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm">Carrier</label>
                                    <div class="col-9">

                                        <app-autocomplete2 [controlname]="'CARRIER'" [tabletype]="'AIR CARRIER'"
                                            [displaycolumn]="'NAME'" [displaydata]="record.mbl_liner_name"
                                            (ValueChanged)="LovSelected($event)">
                                        </app-autocomplete2>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm">Flight No</label>
                                    <div class="col-9 ">
                                        <InputBox [(inputModel)]="record.mbl_vessel" [maxlength]="15" [uppercase]="true"
                                            #vessel vessel>
                                        </InputBox>

                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm">Frt.Status</label>
                                    <div class="col-9">
                                        <select class="form-control form-control-sm"
                                            [(ngModel)]="record.mbl_frt_status">
                                            <option *ngFor="let rec of gs.PARAM_FREIGHT_STATUS" [value]="rec.name">
                                                {{rec.name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm">Origin.Country</label>
                                    <div class="col-9">

                                        <app-autocomplete2 [controlname]="'COUNTRY'" [tabletype]="'PARAM'"
                                            [subtype]="'COUNTRY'" [displaycolumn]="'NAME'"
                                            [displaydata]="record.mbl_country_name"
                                            (ValueChanged)="LovSelected($event)">
                                        </app-autocomplete2>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm">Handled.By</label>
                                    <div class="col-9">

                                        <app-autocomplete2 [controlname]="'HANDLEDBY'" [tabletype]="'PARAM'"
                                            [subtype]="'SALESMAN'" [displaycolumn]="'NAME'"
                                            [displaydata]="record.mbl_handled_name"
                                            (ValueChanged)="LovSelected($event)">
                                        </app-autocomplete2>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm">Sales.Rep</label>
                                    <div class="col-9">
                                        <app-autocomplete2 [controlname]="'SALESMAN'" [tabletype]="'PARAM'"
                                            [subtype]="'SALESMAN'" [displaycolumn]="'NAME'"
                                            [displaydata]="record.mbl_salesman_name"
                                            (ValueChanged)="LovSelected($event)">
                                        </app-autocomplete2>
                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="row border">
                            <div class="col-md-6 testbox  px-0 mx-0">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm">Cargo Location</label>
                                    <div class="col-9">
                                        <app-autocomplete2 [controlname]="'CARGO-LOC'" [tabletype]="'MASTER'"
                                            [subtype]="'LOCATION'" [displaycolumn]="'NAME'"
                                            [displaydata]="record.mbl_cargo_loccode"
                                            (ValueChanged)="LovSelected($event)">
                                        </app-autocomplete2>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <button class=" col-3 btn btn-success btn-sm" *ngIf="!is_locked"
                                        (click)="CopyLoc2House()">Cpoy to All
                                        House</button>
                                    <div class="col-9">
                                        <input class="form-control form-control-sm" type="text"
                                            (blur)="onBlur('mbl_cargo_locname')" [(ngModel)]="record.mbl_cargo_locname"
                                            maxlength="60" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm"></label>
                                    <div class="col-9">
                                        <input class="form-control form-control-sm" type="text"
                                            (blur)="onBlur('mbl_cargo_locaddr1')"
                                            [(ngModel)]="record.mbl_cargo_locaddr1" maxlength="60" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm"></label>
                                    <div class="col-9">
                                        <input class="form-control form-control-sm" type="text"
                                            (blur)="onBlur('mbl_cargo_locaddr2')"
                                            [(ngModel)]="record.mbl_cargo_locaddr2" maxlength="60" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm"></label>
                                    <div class="col-9">
                                        <input class="form-control form-control-sm" type="text"
                                            (blur)="onBlur('mbl_cargo_locaddr3')"
                                            [(ngModel)]="record.mbl_cargo_locaddr3" maxlength="60" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm"></label>
                                    <div class="col-9">
                                        <input class="form-control form-control-sm" type="text"
                                            (blur)="onBlur('mbl_cargo_locaddr4')"
                                            [(ngModel)]="record.mbl_cargo_locaddr4" maxlength="60" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 testbox  px-0 mx-0">

                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm">Mawb GrWt</label>
                                    <div class="col-9 ">
                                        <input class="form-control form-control-sm" type="number"
                                            (blur)="onBlur('mbl_mawb_weight')" [(ngModel)]="record.mbl_mawb_weight"
                                            maxlength="15" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label col-form-label-sm pr-0">Mawb ChWt</label>
                                    <div class="col-9 ">
                                        <input class="form-control form-control-sm " type="number"
                                            (blur)="onBlur('mbl_mawb_chwt')" [(ngModel)]="record.mbl_mawb_chwt"
                                            maxlength="15" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <hr>
                    </div> -->
                </div>

                <!-- <div *ngIf="mode=='EDIT'" class="row">

                    <div class="col-md-12  px-0 mx-0">
                        <div class="page-body table-responsive">
                            <table class="table  table-hover table-sm">
                                <thead class="page-body-thead">
                                    <tr>
                                        <th>HOUSE</th>
                                        <th>SHIPPER</th>
                                        <th>CONSIGNEE</th>
                                        <th>PCS</th>
                                        <th>HANDLED-BY</th>
                                        <th>ETD</th>
                                        <th>ETA</th>
                                        <th>CREATED-BY</th>
                                        <th>DATE</th>
                                    </tr>
                                </thead>
                                <tbody class="page-body-tbody">
                                    <tr *ngFor="let rec of hrecords">
                                        <td (click)="EditHouse(rec)">{{rec.hbl_houseno}}</td>
                                        <td>{{rec.hbl_shipper_name}}</td>
                                        <td>{{rec.hbl_consignee_name}}</td>
                                        <td>{{rec.hbl_packages}}</td>
                                        <td>{{rec.hbl_handled_name}}</td>
                                        <td>{{rec.mbl_pol_etd | date : gs.FRONTEND_DATEFORMAT }}</td>
                                        <td>{{rec.mbl_pod_eta | date : gs.FRONTEND_DATEFORMAT }}</td>
                                        <td>{{rec.rec_created_by}}</td>
                                        <td>{{rec.rec_created_date | date : gs.FRONTEND_DATEFORMAT }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group row">
                                <div class="col-12">
                                    <button class="btn btn-success btn-sm mr-1" *ngIf="!is_locked"
                                        (click)="AddHouse()">Add House</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> -->

            </div>
            <div *ngIf="mode=='EDIT'" class="col-md-2 p-1 testbox">

                <div class="col-md-12 p-2 border">


                    <div class="form-group row">
                        <button class=" col-12 btn btn-info btn-sm"
                            (click)="BtnNavigation('ATTACHMENT')">Attachments</button>
                    </div>


                    <div class="form-group row">
                        <button class=" col-12 btn btn-info btn-sm" (click)="BtnNavigation('MEMO')">Memo</button>
                    </div>

                    <div class="form-group row">
                        <button class=" col-12 btn btn-info btn-sm" (click)="BtnNavigation('PROFITREPORT')">SOP</button>
                    </div>

                    <div class="form-group row">
                        <button class=" col-12 btn btn-info btn-sm" (click)="BtnNavigation('QUOTN-MEMO')">Quotation
                            Memo</button>
                    </div>

                    <div class="form-group row">
                        <button class=" col-12 btn btn-info btn-sm" (click)="BtnNavigation('ACC-ALERT')">Accounting
                            Alert</button>
                    </div>


                    <div class="form-group row">
                        <button class=" col-12 btn btn-info btn-sm" (click)="BtnNavigation('DELIVERY-ADDRESS')">Delivery
                            Address</button>
                    </div>

                    <div class="form-group row">
                        <button class=" col-12 btn btn-info btn-sm" (click)="BtnNavigation('BUSSINESS-INFO')">Business
                            Info</button>
                    </div>

                    <div class="form-group row">
                        <button class=" col-12 btn btn-info btn-sm" (click)="BtnNavigation('LOGIN-DET')">Login
                            Details</button>
                    </div>
                    <div class="form-group row">
                        <button class=" col-12 btn btn-info btn-sm"
                            (click)="BtnNavigation('ADDRESS')">Addresses</button>
                    </div>
                    <div class="form-group row">
                        <button class=" col-12 btn btn-info btn-sm" (click)="BtnNavigation('BANK-INFORMATION')">Bank
                            Information</button>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="page-footer">
        <div class="row justify-content-center p-1">
            <button class="btn btn-primary btn-md" *ngIf="gs.canSave(menuid,mode)" (click)="Save()">Save</button>
        </div>
    </div>

    <div>
        <label class="col-form-label col-form-label-sm" *ngIf="record.rec_created_by"> CREATED BY:
            {{record.rec_created_by}}
            /
            {{record.rec_created_date}} </label>
    </div>
</div>
<div *ngIf="tab=='report'">
    <app-report [title]="report_title" [url]="report_url" [searchdata]="report_searchdata" [menuid]="report_menuid"
        (callbackevent)="callbackevent($event)"></app-report>
</div>
<div *ngIf="tab=='attachment'">
    <app-fileupload [title]="attach_title" [parentid]="attach_parentid" [subid]="attach_subid" [type]="attach_type"
        [typelist]="attach_typelist" [tablename]="attach_tablename" [tablepkcolumn]="attach_tablepkcolumn"
        [refno]="attach_refno" [customername]="attach_customername" [updatecolumn]="attach_updatecolumn"
        [viewonlysource]="attach_viewonlysource" [viewonlyid]="attach_viewonlyid" [filespath]="attach_filespath"
        [filespath2]="attach_filespath2" (callbackevent)="callbackevent($event)"></app-fileupload>
</div>