<div *ngIf="tab=='main'">
    <div class="page-header">
        <div class="row align-items-center justify-content-left p-1">
            <label class="mr-3">Quotation Rate ({{mode}})</label>
            <button #_btnretrate class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
        </div>
    </div>

    <div *ngIf="errorMessage">
        <div class="alert alert-primary">
            {{errorMessage}}
        </div>
    </div>

    <div class="page-body">
        <div class="row">

            <div class="col-md-4 testbox  px-0 mx-0">
                <div class="form-group row">
                    <label class="col-4 col-form-label col-form-label-sm">SL#</label>
                    <div class="col-8">
                        <input class="form-control form-control-sm text-danger" type="text"
                            [(ngModel)]="record.qtnr_slno" [disabled]="true" maxlength="25" #refno />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label col-form-label-sm">Agent</label>
                    <div class="col-8">
                        <app-autocomplete2  [controlname]="'AGENT'" [tabletype]="'MASTER'" [displaycolumn]="'NAME'"
                            [displaydata]="record.qtnr_agent_name" (ValueChanged)="LovSelected($event)" #_qtnr_agent_name>
                        </app-autocomplete2>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label col-form-label-sm">Country Of POL</label>
                    <div class="col-8">
                        <app-autocomplete2 [controlname]="'POL-COUNTRY'" [tabletype]="'PARAM'" [subtype]="'COUNTRY'"
                            [displaycolumn]="'NAME'" [displaydata]="record.qtnr_pol_cntry_name"
                            (ValueChanged)="LovSelected($event)" #_qtnr_pol_cntry_name>
                        </app-autocomplete2>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label col-form-label-sm">Country Of POD</label>
                    <div class="col-8">
                        <app-autocomplete2 [controlname]="'POD-COUNTRY'" [tabletype]="'PARAM'" [subtype]="'COUNTRY'"
                            [displaycolumn]="'NAME'" [displaydata]="record.qtnr_pod_cntry_name"
                            (ValueChanged)="LovSelected($event)" #_qtnr_pod_cntry_name>
                        </app-autocomplete2>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label col-form-label-sm">Mode</label>
                    <div class="col-8">
                        <select #_qtnr_mode class="form-control form-control-sm" [(ngModel)]="record.qtnr_mode">
                            <option [value]="'AIR'">AIR</option>
                            <option [value]="'FCL'">FCL</option>
                            <option [value]="'LCL'">LCL</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label col-form-label-sm">Validity</label>
                    <div class="col-8">
                        <app-date [inputdate]="record.qtnr_validity" (ValueChanged)="record.qtnr_validity=$event">
                        </app-date>
                    </div>
                </div>
            </div>
            <div class="col-md-4 testbox  px-0 mx-0">


            </div>
        </div>
    </div>
    <div class="page-footer">
        <!-- <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-4 col-form-label col-form-label-sm"></label>
                    <div class="col-8">
                        <button class="btn btn-primary btn-sm mr-1" (click)="Save()">Save</button>
                        <button  [style.color]="Foregroundcolor" *ngIf="mode=='EDIT'" class="btn btn-success btn-sm mr-1" (click)="BtnNavigation('ATTACHMENT')">File Upload</button>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row justify-content-center p-1">
            <button class="btn btn-primary btn-md mr-1" *ngIf="mainService.canSave" (click)="Save()">Save</button>
            <button [style.color]="Foregroundcolor" *ngIf="mode=='EDIT'" class="btn btn-info btn-md mr-1"
                (click)="BtnNavigation('ATTACHMENT',attachmodal)">File Upload</button>
        </div>
    </div>
</div>

<ng-template #attachmodal let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="page-body">
            <div class="row">
                <div class="col-md-12 testbox  px-0 mx-0">
                    <app-fileupload [title]="attach_title" [parentid]="attach_parentid" [subid]="attach_subid"
                        [type]="attach_type" [typelist]="attach_typelist" [tablename]="attach_tablename"
                        [tablepkcolumn]="attach_tablepkcolumn" [refno]="attach_refno"
                        [customername]="attach_customername" [updatecolumn]="attach_updatecolumn"
                        [viewonlysource]="attach_viewonlysource" [viewonlyid]="attach_viewonlyid"
                        [filespath]="attach_filespath" [filespath2]="attach_filespath2" [modalview]="true"
                        (callbackevent)="callbackevent($event)"></app-fileupload>
                </div>
            </div>
            <div class="page-footer">
                <div class="row justify-content-center p-1">
                    <button class="btn btn-primary btn-md" (click)="CloseModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>